<div class="ui basic segment signup_page">
    <div class='ui container'>
        <div class="ui two column stackable grid padded">
            <div class="ten wide column signup_page_left_column">
                <div class="ui fluid centered card">
                    <div class="content">
                        <div class="header">Built for the owners</div>
                        <div class="description">
                            <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                            <p>Many people also have their own barometers for what makes a cute dog.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column signup_page_right_column">
                <div class="ui fluid card">
                    <div class="content">
                        {{ form_start(form, {'method': 'POST', 'action': path('create_personal_account_post'), 'attr': {'class': 'ui form', 'id': 'register_form'} }) }}
                            <div class="field">
                                <label>Username</label>
                                {{ form_widget(form.username,{'attr':{'placeholder':'Pick a username', 'data-validate': 'username'}})}}
                            </div>
                            <div class="field">
                                <label>Email address</label>
                                {{ form_widget(form.email,{'attr':{'placeholder':'you@example.com', 'data-validate': 'email'}})}}
                            </div>
                            <div class="field">
                                <label>Password</label>
                                {{ form_widget(form.plainPassword.first,{'attr':{'placeholder':'Create a password', 'data-validate': 'password'}})}}
                            </div>
                            <div class="field">
                                <label>Confirm password</label>
                                {{ form_widget(form.plainPassword.second,{'attr':{'placeholder':'Confirm a password', 'data-validate': 'passwordConfirm'}})}}
                            </div>
                            <div class="field">
                                <label>Owner's name</label>
                                {{ form_widget(form.lastname,{'attr':{'placeholder': "Enter your owner's name", 'data-validate': 'lastname'}})}}
                            </div>
                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" tabindex="0" data-validate="termsConditions" class="">
                                    <label>I agree to the Terms and Conditions</label>
                                </div>
                            </div>
                             <div class="field">
                                {{form_rest(form)}}
                            </div>
                            <button id="submit_register_form" class="ui fluid yellow button" type="submit">Sign up for OGIVE-DC</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>