<div class="ui basic segment signup_page">
    <div class='ui container'>
        <div class="ui two column stackable grid padded">
            <div class="ten wide column signup_page_left_column">
                <div class="ui fluid centered card">
                    <div class="content">
                        <div class="header">Construit pour gérer des projets</div>
                        <div class="description">
                            <p>Follow Up Contracts Software est une plateforme numerique de gestion des décomptes des marchés. Elle vous permet de dématérialiser le processus de soumission et de traitement des décomptes.</p>
                            <p>Finie le traitement manuelle à l'aide des feuilles excels avec un risque élevé d'erreurs! Enregistrer votre marché, ses différentes tâches et ses intervenants, ensuite créez vos décomptes en un clic.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column signup_page_right_column">
                <div class="ui fluid card">
                    <div class="content">
                        {{ form_start(form, {'method': 'POST', 'action': path('create_personal_account_post'), 'attr': {'class': 'ui form', 'id': 'register_form'} }) }}
                        <div class="field">
                            <label>Nom d'utilisateur</label>
                            {{ form_widget(form.username,{'attr':{'placeholder':"Votre nom d'utilisateur", 'data-validate': 'username'}})}}
                        </div>
                        <div class="field">
                            <label>Adresse e-mail</label>
                            {{ form_widget(form.email,{'attr':{'placeholder':'you@example.com', 'data-validate': 'email'}})}}
                        </div>
                        <div class="field">
                            <label>Mot de passe</label>
                            {{ form_widget(form.plainPassword.first,{'attr':{'placeholder':'Saisissez votre mot de passe', 'data-validate': 'password'}})}}
                        </div>
                        <div class="field">
                            <label>Confirmer mot de passe</label>
                            {{ form_widget(form.plainPassword.second,{'attr':{'placeholder':'Confirmez votre mot de passe', 'data-validate': 'passwordConfirm'}})}}
                        </div>
                        <div class="field">
                            <label>Nom de votre entreprise</label>
                            {{ form_widget(form.lastname,{'attr':{'placeholder': "Saisissez le nom de votre entreprise", 'data-validate': 'lastname'}})}}
                        </div>
                        {#<div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" tabindex="0" data-validate="termsConditions" class="">
                                <label>I agree to the Terms and Conditions</label>
                            </div>
                        </div>#}
                        <div class="field">
                            {{form_rest(form)}}
                        </div>
                        <div class="field center aligned">
                            <button id="submit_register_form" class="ui fluid yellow button" type="submit">S'inscrire</button>
                            <span class="" style="font-size: 12px;">En cliquant sur "S'incrire",
                                vous acceptez nos <a href="#">conditions d'utilisation</a>. Nous vous enverrons occasionnellement des e-mails liés au compte.
                            </span>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>