<div class="ui basic fixed segment content">
    <div class='ui container'>
        <div class="ui two column stackable grid padded">
            <div class="eleven wide column home_tab">
                <div class="ui top attached stackable tabular menu od_project_menu">
                    {#<a class="active item" data-tab="overview">
                        Vue d'ensemble
                    </a>#}
                    <a class="active item" data-tab="my-projects">
                        Mes projets
                    </a>
                </div>
                {#<div class="ui bottom attached active tab segment od_project_menu_content " data-tab="overview">
                    <div class='ui fluid card'>
                        <div class="content">
                            <div class='header'>Découvrez la meilleur manière les décomptes de vos projets(marchés publics).</div>
                            <div class='description'></div>
                        </div>
                    </div>
                </div>#}
                <div class="ui bottom attached active tab segment od_project_menu_content" data-tab="my-projects">
                    <div class="ui fluid card od_card_top_table_action">
                        <div class="content">
                            <a class="ui right floated yellow mini button" href="{{path('project_add')}}"><i class="plus icon"></i> Créer un nouveau projet</a>
                        </div>
                    </div>
                    <table class="ui celled yellow small table">
                        <thead>
                            <tr>
                                <th>Numéro du marche</th>
                                <th>Objet</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr></thead>
                            {%if projects %}
                            <tbody>
                                {%for single_project in projects %}
                                    <tr id="project{{single_project.id}}">
                                        <td>
                                            <a class="" href="{{path('project_gen_infos_get', {'id': single_project.id})}}">{{single_project.numeroMarche}}</a>
                                        </td>
                                        <td>
                                            {{single_project.subject}}                                               
                                        </td>
                                        <td>{{single_project.status|projectStatus}}</td>
                                        <td>
                                            <div class="ui dropdown right dropdown_actions">
                                                <i class="large ellipsis vertical icon"></i>
                                                <div class="menu">
                                                    <a class="item" href="{{path('project_update_get', {'id': single_project.id})}}"><i class="blue write icon"></i> Modifier</a>
                                                    <a id="delete_project_btn{{single_project.id}}" class="item" onclick="delete_project({{single_project.id}});"><i class="red trash icon"></i> Supprimer</a>
                                                </div>
                                            </div>
                                            {#<a class="ui mini compact icon button" data-tooltip="Modifier" data-position="bottom center" data-inverted="" data-variation="mini" href="{{path('project_update_get', {'id': project.id})}}"><i class="edit icon"></i></a> |
                                            <a id="delete_project_btn{{project.id}}" class="ui mini compact icon red button" data-tooltip="Supprimer" data-position="bottom center" data-inverted="" data-variation="mini" onclick="delete_project({{project.id}});"><i class="trash icon"></i></a>#}
                                        </td>
                                    </tr>
                                {%endfor %}
                            </tbody>
                        {%else %}
                            <tfoot><tr><th colspan="6">
                                        <div class='center aligned'>No project created at the moment</div>
                                    </th></tr></tfoot>
                                {%endif %}
                    </table>
                </div>
            </div>
            <div class="five wide column">
                {% include('OGIVEProjectBundle::right-aside-page.html.twig') %}
            </div>
        </div>
    </div>
</div>