<header>
    <div class="ui inverted segment">
        <div class="ui container">
            <div class="ui inverted secondary menu app_main_menu">
                <div class="ui left inverted secondary menu">
                    <a class="toc item mobile_item" style="display: none;"><i class="sidebar icon"></i></a>
                    <a class="active item" href="{{ path('ogive_project_homepage') }}">
                        OGIVE-DC
                    </a>
                    <a class="item desktop_item" href="{{ path('about_page_get') }}">
                        A propos
                    </a>
                    <a class="item desktop_item" href="{{ path('how_it_works_page_get') }}">
                        Comment ça marche?
                    </a>
                    <a class="item desktop_item" href="{{ path('help_page_get') }}">
                        Aide
                    </a>
                </div>
                <div class="ui right inverted secondary menu">
                    <div class="item desktop_item">
                        <div class="ui icon input">
                            <input type="text" placeholder="Recherche...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                    {% if app.user %}
                        {% if project is defined %}
                            <div class="ui dropdown top right pointing item"> 
                                <i class="plus icon"></i>
                                <div class="menu">
                                    <a href="{{path('project_add')}}" class="ui item">
                                        Nouveau projet
                                    </a>

                                    <a href="{{path('task_add_get', {'id': project.id})}}" class="ui item">
                                        Nouvelle tâche                        
                                    </a>

                                    <a href="{{path('decompte_add_get', {'id': project.id})}}" class="ui item">
                                        Nouveau décompte                        
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="ui top right pointing dropdown item"> 
                            <i class="user circle icon"></i>
                            <div class="menu">
                                <h2 class="header">Connecté en tant que {{ app.user.username }}</h2>
                                <div class="divider"></div>
                                <a href='{{path('fos_user_profile_show')}}' class="ui item">
                                    Profil                        
                                </a>
                                <a href="{{ path('fos_user_security_logout') }}" class="ui item">
                                    Deconnexion
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <a class="ui item desktop_item" href="{{path('fos_user_security_login')}}">
                            Se connecter
                        </a>
                        <a class="ui item mobile_item" href="{{path('fos_user_security_login')}}" style="display: none;">
                            <i class="ui sign in alternate icon"></i>
                        </a>
                        <a class="item desktop_item" href="{{path("create_personal_account_get")}}"> 
                            S'inscrire
                        </a>
                        <a class="item mobile_item" href="{{path("create_personal_account_get")}}" style="display: none;"> 
                            <i class='ui user plus icon'></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>