<header>
    <div class="ui inverted segment">
        <div class="ui container">
            <div class="ui inverted secondary menu app_main_menu">
                <div class="ui left inverted secondary menu">
                    <a class="active item" href="{{ path('ogive_project_homepage') }}">
                        LOGO
                    </a>
                    <a class="item">
                        A propos
                    </a>
                    <a class="item">
                        Comment ça marche?
                    </a>
                    <a class="item">
                        Aide
                    </a>
                </div>
                <div class="ui right inverted secondary menu">

                    <div class="item">
                        <div class="ui icon input">
                            <input type="text" placeholder="Recherche...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                    {% if app.user %}
                        <div class="ui dropdown top right pointing item"> 
                            <i class="plus icon"></i>
                            <div class="menu">
                                <a href="{{path('project_add')}}" class="ui item">
                                    Nouveau projet
                                </a>
                               
                                <a href="{{path('task_add_get', {'id': project.id})}}" class="ui item">
                                    Nouvelle tâche                        
                                </a>
                                
                                <a href="{{path('decompte_add_get', {'id': project.id})}}" class="ui item">
                                    Nouveau décompte                        
                                </a>
                            </div>
                        </div>
                        <div class="ui dropdown top right pointing item"> 
                            <i class="user circle icon"></i>
                            <div class="menu">
                                <h2 class="header">Connecté en tant que {{ app.user.username }}</h2>
                                <div class="divider"></div>
                                <a href='{{path('fos_user_profile_show')}}' class="ui item">
                                    Profil                        
                                </a>
                                <div class="divider"></div>
                                <a href="{{ path('fos_user_security_logout') }}" class="ui item">
                                    Deconnexion
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <a class="ui item" href="{{path('fos_user_security_login')}}">
                            Se connecter
                        </a>
                        <a class="item" href="{{path("fos_user_registration_register")}}">
                            S'inscrire
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>