<div style="font-size: 12.8px;">Bonjour Mr {{projectManager.user.lastname}},</div>
<div><br></div>
<div style="font-size: 12.8px;">C'est avec plaisir que la société d'ingénierie OGIVE vous invite à prendre à la phase de test de sa plateforme Follow Up Contracts.</div>
<div><br></div>
<div style="font-size: 12.8px;">Pour cela vous avez été désigné maître d'oeuvre du marché N°<a href="{{url("project_gen_infos_get",{"id": projectManager.project.id})}}">{{projectManager.project.numeroMarche}}</a>.</div>
<div><br></div>
<div style="font-size: 12.8px;">Vous vous connecterez à la plateforme en utilisant les identifiants qui vous ont été communiqués dans le mail de bienvenu et que nous vous rappelons ici:</div>
<div><br></div>
<div style="font-size: 12.8px;">
<ul style="font-size: 12.8px; list-style-type: none;">
    <li>- Login : {{user.email}} ou {{user.login}}</li>
    <li>- Mot de passe : {{user.plainPassword}}</li>
</ul>
</div>
<div><br></div>
<div style="font-size: 12.8px;">La société d'ingénierie OGIVE vous remercie pour votre entière participation à ce projet!</div>
<div><br></div>
<div>
    <p style="margin:0px;padding:0px;border:0px;font-size:12.8px;font-stretch:normal;line-height:normal;font-family:Tahoma;width:auto;height:auto;float:none;color:rgb(0,0,0)">Cordialement,</p>
    <p style="margin:0px 0px 1em;padding:0px;border:0px;font-size:12.8px;font-stretch:normal;line-height:normal;font-family:Tahoma;width:auto;height:auto;float:none;color:rgb(0,0,0)">Votre équipe S.I OGIVE.</p>
</div>