<div style="font-size: 12.8px;">Bienvenue spécial à vous Mr {{user.lastname}}. Merci d'avoir rejoint Follow Up Contracts dans le cadre de sa phase de test.</div>
<div><br></div>
<div style="font-size: 12.8px;">Nous vous communiquons ici vos identifiants pour vous connecter à notre notre plateforme de suivi de contrats: <a href="{{url("fos_user_security_login")}}">Connectez vous à Follow Up Contracts</a>.</div>
<div><br></div>
<div style="font-size: 12.8px;">
<ul style="font-size: 12.8px; list-style-type: none;">
    <li>- Login : {{user.email}} ou {{user.login}}</li>
    <li>- Mot de passe : {{user.plainPassword}}</li>
</ul>
</div>
<div><br></div>
<div style="font-size: 12.8px;">Ces identifiants vous permettront d'accéder aux données en fonction du rôle qui vous sera assigné dans le cadre du suivi d'un contrat.</div>
<div><br></div>
<div style="font-size: 12.8px;">Des contrats de test sont encours de création vous serez notifié de votre rôle en tant qu'intervenant dans le suivi ces derniers.</div>
<div><br></div>
<div style="font-size: 12.8px;">La société d'ingénierie OGIVE vous remercie pour votre entière participation à ce projet!</div>
<div><br></div>
<div>
    <p style="margin:0px;padding:0px;border:0px;font-size:12.8px;font-stretch:normal;line-height:normal;font-family:Tahoma;width:auto;height:auto;float:none;color:rgb(0,0,0)">Cordialement,</p>
    <p style="margin:0px 0px 1em;padding:0px;border:0px;font-size:12.8px;font-stretch:normal;line-height:normal;font-family:Tahoma;width:auto;height:auto;float:none;color:rgb(0,0,0)">Votre équipe S.I OGIVE.</p>
</div>