{% extends "OGIVEUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="ui left vertical sidebar mini menu">
    </div>
    <div class="pusher signin_pusher od_app_content">
        <div class="ui basic fixed segment content signin_page">
            <div class='ui container'>
                {% for flash_message in app.session.flashBag.get('error') %}
                    <div  class="ui error message">
                        <i class="remove circle icon"></i>
                        <span>{{ flash_message }}</span>
                        <i class="close icon"></i>
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashBag.get('success') %}
                    <div  class="ui success message">
                        <i class="check circle icon"></i>
                        <span>{{ flash_message }}</span>
                        <i class="close icon"></i>
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashBag.get('warning') %}
                    <div  class="ui warning message">
                        <i class="warning circle icon"></i>
                        <span>{{ flash_message }}</span>
                        <i class="close icon"></i>
                    </div>
                {% endfor %}
                <div class="ui centered card page_title">
                    <div class="content">
                        <h2>Connexion</h2>
                    </div>
                </div>
                <div class="ui centered card">
                    <div class="content">
                        {% if error %}
                            <div class="ui negative message">
                                <i class="close icon"></i>
                                <span class="">{{ error.messageKey|trans(error.messageData, 'FOSUserBundle') }}</span>
                            </div>
                        {% endif %}
                        <form id="login_form" class="ui form" action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <div class="field">
                                <label>Nom d'utilisateur ou e-mail</label>
                                <input type="text" name="_username" placeholder="Nom d'utilisateur or e-mail" value="{{ last_username }}">
                            </div>
                            <div class="field">
                                <label>Mot de passe <a class='right floated'>Mot de passe oublié?</a></label>
                                <input type="password" name="_password" placeholder="Mot de passe">
                            </div>

                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    <label>Se souvenir de moi</label>
                                </div>
                            </div>
                            {#                                <input type="submit" id="submit_login_form" name="_submit" class="ui fluid yellow button" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />#}
                            <button type="butt" id="submit_login_form" class="ui fluid yellow button" name="_submit">Se connecter</button>
                        </form>
                    </div>
                </div>
                <div class="ui centered card signup_message">
                    <div class="ui message">
                        <p align='center'>Nouveau sur Follow Up Contracts?<br><a href="{{path("create_personal_account_get")}}">Créer un compte</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include('OGIVEProjectBundle::footer.html.twig') %}
{% endblock %}