{% extends "OGIVEProjectBundle::layout.html.twig" %}
{% trans_default_domain 'OGIVEProjectBundle' %}
{% block title %}Création d'un nouveau décompte{% endblock %}

{% block content %}
    <div class="ui basic fixed segment content">
        <div class='ui container'>
            {% include('OGIVEProjectBundle:project:top-content-project-page.html.twig') %}
            <div class="ui one column stackable grid padded">
                <div class="wide column">
                    <div class="ui top attached stackable tabular menu od_project_menu">
                        {% include('OGIVEProjectBundle:project:single-project-header.html.twig') %}
                    </div>
                    <div class="ui bottom attached segment od_project_menu_content">
                        <div class="ui fluid card od_add_project_card">
                            <div class="content">
                                <div class="header">
                                    Création du décompte mensuel N°{{form.monthNumber.vars.value}}
                                </div>
                            </div>
                            <div class="content description">
                                {{ form_start(form, {'method': 'POST', 'action': path('decompte_add_get', {'id': project.id}), 'attr': {'class': 'ui mini form', 'id': 'od_add_decompte_form', "autocomplete":"off"} }) }}
                                
                                <div class="four fields">
                                    {{ form_widget(form.monthNumber,{'attr':{'placeholder':"Numero du decompte", 'data-validate': 'monthNumber'}})}}
                                    <div class="ui field">
                                        <label>{{ form_label(form.monthName,"Mois") }}</label>
                                        <div class="field"> 
                                            {{ form_widget(form.monthName,{'attr':{'placeholder':"Nom(s) de(s) mois ", 'data-validate': 'monthName'}})}}
                                        </div>
                                    </div>
                                    <div class="ui field">
                                        <label>{{ form_label(form.mtPenalite,"Montant pénalités") }}</label>
                                        <div class="field"> 
                                            {{ form_widget(form.mtPenalite,{'attr':{'placeholder':"Montant des pénalités", 'data-validate': 'mt_penalité'}})}}
                                        </div>
                                    </div>
                                    <div class="ui field">
                                        <label>Date de debut</label>
                                        <div class="field">
                                            <div class="ui calendar" >
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    {{ form_widget(form.startDate,{'attr':{'placeholder':"Date de debut", 'data-validate': 'start_date'}})}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui field">
                                        <label>Date de fin</label>
                                        <div class="field">
                                            <div class="ui calendar" >
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    {{ form_widget(form.endDate,{'attr':{'placeholder':"Date de fin", 'data-validate': 'end_date'}})}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{form_widget(form._token)}}
                                <div class="field">
                                    {% include('OGIVEProjectBundle::form-message-success-error.html.twig') %}
                                </div>
                                <div class="field right aligned">
                                    <button id="od_add_decompte_submit_btn"  class="ui mini yellow button" type="submit">Créer</button>
                                    <a id="od_add_decompte_cancel_btn" class="ui mini red button"  href="{{path('project_decomptes_get', {'id': project.id})}}">Annuler</a>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/ogiveproject/js/decompte.js')}}"></script>
{% endblock %}