{% import _self as forms %}
{% extends "OGIVEProjectBundle::layout.html.twig" %}
{% trans_default_domain 'OGIVEProjectBundle' %}
{% block title %}Décompte mensuel N°{{decompte.monthNumber}} de {{decompte.monthName}}{% endblock %}

{% block content %}
    {% macro show_decompteTask_infos(decompteTask) %}
        {% import _self as forms %}
        {%if decompteTask.unite and  decompteTask.prixUnitaire and (decompteTask.qtePrevueMarche or decompteTask.qtePrevueMarche == 0)  and (decompteTask.qtePrevueProjetExec or decompteTask.qtePrevueProjetExec == 0) %}
            <tr>
                <td>
                    {{decompteTask.numero}}
                </td>
                <td style="max-width: 2em;">
                    {{decompteTask.nom}}                                               
                </td>
                <td>
                    {{decompteTask.unite}}
                </td>
                <td>
                    {{decompteTask.prixUnitaire}}                                               
                </td>
                <td>
                    {{decompteTask.qtePrevueMarche}}
                </td>
                <td>
                    {{decompteTask.qtePrevueProjetExec}}                                               
                </td>
                <td>
                    {{decompteTask.qteCumulMoisPrec}}
                </td>
                <td>
                    {{decompteTask.qteMois}}
                </td>
                <td>
                    {{decompteTask.qteCumulMois}}
                </td>
                <td>
                    {{decompteTask.mtPrevueMarche}}
                </td>
                <td>
                    {{decompteTask.mtPrevueProjetExec}}                                               
                </td>
                <td>
                    {{decompteTask.mtCumulMoisPrec}}
                </td>
                <td>
                    {{decompteTask.mtMois}}                                               
                </td>
                <td>
                    {{decompteTask.mtCumulMois}}
                </td>
                <td>
                    {%if decompteTask.pourcentRealisation >= 0 %}{{decompteTask.pourcentRealisation}}% {%endif %}                                              
                </td>
            </tr>
        {%elseif decompteTask.subDecompteTasks is defined and decompteTask.subDecompteTasks|length > 0 %}
            <tr>
                <td colspan="15" style="font-weight: bold;">
                    LOT{{ decompteTask.numero }} : {{ decompteTask.nom }}                                              
                </td>
            </tr>
        {%else%}
            <tr>
                <td>
                   {{ decompteTask.numero }}                                             
                </td>
                <td colspan="14">
                    {{ decompteTask.nom }}                                              
                </td>
            </tr>
        {%endif %}

        {%if decompteTask.subDecompteTasks is defined and decompteTask.subDecompteTasks|length > 0 %}
            {%for subDecompteTask in decompteTask.subDecompteTasks %}
                {{forms.show_decompteTask_infos(subDecompteTask)}}
            {%endfor %}
            <tr style="font-weight: bold;">
                <td>
                </td>
                <td >
                    SOUS TOTAL DU LOT{{ decompteTask.numero }}                                             
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    {{decompteTask.mtPrevueMarche}}
                </td>
                <td>
                    {{decompteTask.mtPrevueProjetExec}}                                               
                </td>
                <td>
                    {{decompteTask.mtCumulMoisPrec}}
                </td>
                <td>
                    {{decompteTask.mtMois}}                                               
                </td>
                <td>
                    {{decompteTask.mtCumulMois}}
                </td>
                <td>
                    {{decompteTask.pourcentRealisation}}%                                               
                </td>
            </tr>
        {% endif %}
    {% endmacro %}

    {% macro show_decompte_recap_general_infos(decompteTask, i) %}
        <tr style="">
            <td>
                {{i}}
            </td>
            <td>
                LOT {{ decompteTask.numero }}: {{ decompteTask.nom }}                                            
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                {% if decompteTask.mtPrevueProjetExec matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}{{decompteTask.mtPrevueMarche}}{% endif %}
            </td>
            <td>
                {% if decompteTask.mtPrevueProjetExec matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}{{decompteTask.mtPrevueProjetExec}}{% endif %}                                               
            </td>
            <td>
                {% if decompteTask.mtCumulMoisPrec matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}{{decompteTask.mtCumulMoisPrec}}{% endif %}  
            </td>
            <td>
                {% if decompteTask.mtMois matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}{{decompteTask.mtMois}}{% endif %}                                           
            </td>
            <td>
                {% if decompteTask.mtCumulMois matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}{{decompteTask.mtCumulMois}}{% endif %}
            </td>
            <td>
                {% if decompteTask.pourcentRealisation matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}{{decompteTask.pourcentRealisation}}% {% endif %}                                              
            </td>
        </tr>
    {% endmacro %}                                                

    {% macro show_decompte_recap_hors_taxe_infos(decompte) %}
        <tr style="font-weight: bold;">
            <td>
            </td>
            <td>
                TOTAL GENERAL HORS TAXES                                           
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                {{decompte.mtPrevueMarche}}
            </td>
            <td>
                {{decompte.mtPrevueProjetExec}}                                               
            </td>
            <td>
                {{decompte.mtCumulMoisPrec}}
            </td>
            <td>
                {{decompte.mtMois}}                                               
            </td>
            <td>
                {{decompte.mtCumulMois}}
            </td>
            <td>
                {{decompte.pourcentRealisation}}%                                               
            </td>
        </tr>
        <tr style="font-weight: bold;">
            <td>
            </td>
            <td>
                TVA : 19,25%                                          
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                {{decompte.mtPrevueMarcheTVA}}
            </td>
            <td>
                {{decompte.mtPrevueProjetExecTVA}}                                               
            </td>
            <td>
                {{decompte.mtCumulMoisPrecTVA}}
            </td>
            <td>
                {{decompte.mtMoisTVA}}                                               
            </td>
            <td>
                {{decompte.mtCumulMoisTVA}}
            </td>
            <td>

            </td>
        </tr>
        <tr style="font-weight: bold;">
            <td>
            </td>
            <td>
                I.R :  2,2%                                          
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                {{decompte.mtPrevueMarcheIR}}
            </td>
            <td>
                {{decompte.mtPrevueProjetExecIR}}                                               
            </td>
            <td>
                {{decompte.mtCumulMoisPrecIR}}
            </td>
            <td>
                {{decompte.mtMoisIR}}                                               
            </td>
            <td>
                {{decompte.mtCumulMoisIR}}
            </td>
            <td>

            </td>
        </tr>
        <tr style="font-weight: bold;">
            <td>
            </td>
            <td>
                NET A PERCEVOIR                                          
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                {{decompte.mtPrevueMarcheNetAPercevoir}}
            </td>
            <td>
                {{decompte.mtPrevueProjetExecNetAPercevoir}}                                               
            </td>
            <td>
                {{decompte.mtCumulMoisPrecNetAPercevoir}}
            </td>
            <td>
                {{decompte.mtMoisNetAPercevoir}}                                               
            </td>
            <td>
                {{decompte.mtCumulMoisNetAPercevoir}}
            </td>
            <td>

            </td>
        </tr>
        <tr style="font-weight: bold;">
            <td>
            </td>
            <td>
                TOTAL TTC                                          
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                {{decompte.mtPrevueMarcheTTC}}
            </td>
            <td>
                {{decompte.mtPrevueProjetExecTTC}}                                               
            </td>
            <td>
                {{decompte.mtCumulMoisPrecTTC}}
            </td>
            <td>
                {{decompte.mtMoisTTC}}                                               
            </td>
            <td>
                {{decompte.mtCumulMoisTTC}}
            </td>
            <td>

            </td>
        </tr>
    {% endmacro %}
    <div class="ui basic fixed segment content">
        <div class='ui container' style="width: 100%">
            {% include('OGIVEProjectBundle:project:top-content-project-page.html.twig') %}
            <div class="ui one column stackable grid padded">
                <div class="wide column">
                    <div class="ui top attached stackable tabular menu od_project_menu">
                        {% include('OGIVEProjectBundle:project:single-project-header.html.twig') %}
                    </div>
                    <div class="ui bottom attached segment od_project_menu_content">
                        {%if allDecomptes > 1 %}
                            <div class="ui right floated pagination menu mini form" style="margin-bottom: 1em; border-radius: 0px;">
                                {%if previousDecompte %}
                                    <a href="{{path('decompte_show_get', {'idProject': previousDecompte.project.id, 'id': previousDecompte.id})}}" class="yellow icon item">
                                        <i class="left chevron icon"></i>
                                    </a>
                                {% endif %}
                                <select class="ui item pagination dropdown select_another_decompte">
                                    {% for singleDecompte in allDecomptes %}
                                        <option value="{{path('decompte_show_get', {'idProject': singleDecompte.project.id, 'id': singleDecompte.id})}}" {% if decompte.monthNumber == singleDecompte.monthNumber %}selected="selected"{% endif %}>{{singleDecompte.monthNumber}}</option>
                                    {% endfor %}
                                </select>
                                {%if nextDecompte %}
                                    <a href="{{path('decompte_show_get', {'idProject': nextDecompte.project.id, 'id': nextDecompte.id})}}" class="icon item">
                                        <i class="right chevron icon"></i>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="ui fluid card od_add_project_card view_field">
                            <div class="content">
                                <div class="left floated header">
                                    Décompte mensuel N°{{decompte.monthNumber}} de {{decompte.monthName}}
                                </div>

                                <div class="right floated meta">
                                    <a id="excel_export_decompte" class="item" href="/exports/excel/decompe_mensuel_N°{{decompte.monthNumber}}.xlsx"> <i class="green file excel icon"></i> Exporter en excel</a>
                                    <a class="item"> | </a>
                                    <a id="pdf_export_decompte" class="item" > <i class="red file pdf icon"></i> Exporter en PDF</a>
                                    <a class="item"> | </a>
                                    <a id="submit_decompte" class="item" onclick="submit_decompte_for_validation({{decompte.project.id}}, {{decompte.id}})"> <i class="inverted yellow send icon"></i> Soumettre</a>
                                    <a class="item"> | </a>
                                    <a id="vailidate_decompte" class="item" onclick="validate_decompte({{decompte.project.id}}, {{decompte.id}});"> <i class="inverted green check icon"></i> Valider</a>
                                    <a class="item"> | </a>
                                    <a id="edit_decompte" class="item"> <i class="inverted blue write icon"></i> Modifier</a>
                                    <a class="item"> | </a>
                                    <div class="ui dropdown dropdown_actions item">
                                        <i class="large ellipsis horizontal icon"></i>
                                        <div class="menu">
                                            <a id="delete_decompte" class="item" onclick="delete_decompte({{decompte.project.id}}, {{decompte.id}});"> <i class="inverted red trash icon"></i> Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content description od_decompte_content">
                                <div class="ui pointing secondary stackable mini menu">
                                    <a class="item active" data-tab="first">ATTACHEMENT</a>
                                    <a class="item" data-tab="second">MANDEMENT</a>
                                    <a class="item" data-tab="third">DECOMPTE TVA</a>
                                    <a class="item" data-tab="fourth">DECOMPTE AIR</a>
                                    <a class="item" data-tab="fifth">RETENUE DE GARANTIE</a>
                                    <a class="item" data-tab="sixth">ATTACHEMENT AVANCE DEMARRAGE</a>
                                </div>
                                <div class="ui tab segment active" data-tab="first">
                                    {% include 'OGIVEProjectBundle:decompte:header-table-montant-attachement.html.twig' %}
                                    <table class="ui celled structured yellow small fluid table">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class='center aligned'>N°</th>
                                                <th rowspan="2" class='center aligned'>Désignation des ouvrages</th>
                                                <th rowspan="2" class='center aligned'>U</th>
                                                <th rowspan="2" class='center aligned'>P.U</th>                                   
                                                <th colspan="5" class='center aligned'>Quantité</th>
                                                <th colspan="5" class='center aligned'>Montant[{{decompte.project.projectCostCurrency}}]</th>
                                                <th rowspan="2" class='center aligned'>% réalisé</th>
                                            </tr>
                                            <tr>
                                                <th class='center aligned'>marché</th>
                                                <th class='center aligned'>projet d'exec.</th>
                                                <th class='center aligned'>cumul préc.</th>
                                                <th class='center aligned'>du mois</th>
                                                <th class='center aligned'>cumul mois</th>
                                                <th class='center aligned'>marché</th>
                                                <th class='center aligned'>projet d'exec.</th>
                                                <th class='center aligned'>cumul préc.</th>
                                                <th class='center aligned'>du mois</th>
                                                <th class='center aligned'>cumul mois</th>
                                            </tr>

                                        </thead>
                                        {%if decompteTasks %}
                                            <tbody >
                                                {% for decompteTask in decompteTasks %}
                                                    {{forms.show_decompteTask_infos(decompteTask)}}
                                                {%endfor %}
                                                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                                <tr>
                                                    <td></td>
                                                    <td colspan="15" style="font-weight: bold; text-align: center">
                                                        RECAPITULATIF GENERAL                                             
                                                    </td>
                                                </tr>
                                                {% set i= 1 %}
                                                {% for decompteTask in decompteTasks %}
                                                    {{forms.show_decompte_recap_general_infos(decompteTask, i)}}
                                                    {% set i= i+1 %}
                                                {%endfor %} 
                                                {{forms.show_decompte_recap_hors_taxe_infos(decompte)}}
                                            </tbody>                                        
                                        {%else %}
                                            <tfoot><tr><th colspan="5">
                                                        <div class='center aligned'>No task created at this moment</div>
                                                    </th></tr></tfoot>
                                                {%endif %}
                                    </table>

                                </div>
                                <div class="ui tab segment" data-tab="second">
                                    {% include 'OGIVEProjectBundle:decompte:header-table-montant-decompte.html.twig' with {'decompte_title': 'A - MANDATEMENT'} %}                         
                                    {% include 'OGIVEProjectBundle:decompte:content-table-montant-decompte.html.twig' %}
                                    <table class="ui celled structured small fluid table">
                                        <tbody>
                                            <tr>
                                                <td colspan="7" class='center aligned' style="font-weight: bold;">Montant net de l' acompte à mandater  (Paiement - AIR) :</td>            
                                                <td colspan="3"class='right aligned'>{{decompte.mtACM}}</td>
                                                <td colspan="2"class='left aligned'>{{decompte.project.projectCostCurrency}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class='center aligned'>Arrêté le présent décompte à la somme de  :</td>            
                                                <td class='right aligned'>{{decompte.mtACM}}</td>
                                                <td colspan="7" class='left aligned'>{{decompte.project.projectCostCurrency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="ui tab segment" data-tab="third">
                                    {% include 'OGIVEProjectBundle:decompte:header-table-montant-decompte.html.twig' with {'decompte_title': 'B - DECOMPTE TVA'} %}
                                    {% include 'OGIVEProjectBundle:decompte:content-table-montant-decompte.html.twig' %}
                                    <table class="ui celled structured small fluid table">
                                        <tbody>
                                            <tr>
                                                <td colspan="7" class='center aligned' style="font-weight: bold;">Montant TVA : </td>            
                                                <td class='center aligned'></td>
                                                <td colspan="2"class='right aligned'>{{decompte.mtTaxesTVAACD}}</td>
                                                <td colspan="2"class='left aligned'>{{decompte.project.projectCostCurrency}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class='center aligned'>Arrêté le présent décompte  de la TVA à la somme de :</td>            
                                                <td class='right aligned'>{{decompte.mtTaxesTVAACD}}</td>
                                                <td colspan="7" class='left aligned'>{{decompte.project.projectCostCurrency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="ui tab segment" data-tab="fourth">
                                    {% include 'OGIVEProjectBundle:decompte:header-table-montant-decompte.html.twig' with {'decompte_title': 'C - DECOMPTE AIR'} %}
                                    {% include 'OGIVEProjectBundle:decompte:content-table-montant-decompte.html.twig' %}
                                    <table class="ui celled structured small fluid table">
                                        <tbody>
                                            <tr>
                                                <td colspan="7" class='center aligned' style="font-weight: bold;">Montant AIR : </td>            
                                                <td class='center aligned'></td>
                                                <td colspan="2"class='right aligned'>{{decompte.mtTaxesAIRACD}}</td>
                                                <td colspan="2"class='left aligned'>{{decompte.project.projectCostCurrency}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class='center aligned'>Arrêté le présent décompte  de AIR à la somme de :</td>            
                                                <td class='right aligned'>{{decompte.mtTaxesAIRACD}}</td>
                                                <td colspan="7" class='left aligned'>{{decompte.project.projectCostCurrency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="ui tab segment" data-tab="fifth">
                                    {% include 'OGIVEProjectBundle:decompte:header-table-montant-decompte.html.twig' with {'decompte_title': 'D - RETENUE DE GARANTIE'} %}
                                    {% include 'OGIVEProjectBundle:decompte:content-table-montant-decompte.html.twig' %}
                                    <table class="ui celled structured small fluid table">
                                        <tbody>
                                            <tr>
                                                <td colspan="7" class='center aligned' style="font-weight: bold;">Montant de la retenue de garantie :</td>            
                                                <td class='center aligned'></td>
                                                <td colspan="2"class='right aligned'>{{decompte.mtRetenueGarantieACD}}</td>
                                                <td colspan="2"class='left aligned'>{{decompte.project.projectCostCurrency}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class='center aligned' style="font-weight: bold;">Arrêté le présent décompte de la retenue à la somme de  :</td>            
                                                <td class='right aligned'>{{decompte.mtRetenueGarantieACD}}</td>
                                                <td colspan="7" class='left aligned'>{{decompte.project.projectCostCurrency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="ui tab segment" data-tab="sixth">
                                    {% include 'OGIVEProjectBundle:decompte:header-table-montant-attachement.html.twig' %}
                                    <table class="ui celled structured yellow small fluid table">
                                        <tbody>
                                            <tr>
                                                <td style="width: 45em; font-weight: bold;">Montant du marché: </td>
                                                <td style="width: 33em; font-weight: bold;">{{project.projectCost}} {{project.projectCostCurrency}}</td>
                                            </tr>
                                            <tr>
                                                <td >Montant de l'avance démarrage:</td>
                                                <td>{{project.avanceDemarrage}}</td>
                                            </tr>
                                            <tr>
                                                <td >Montant cumulé des travaux éxécutés</td>
                                                <td>{{decompte.mtCumulMoisTTC}}</td>
                                            </tr>

                                            <tr>
                                                <td >Montant précedent des travaux éxécutés</td>
                                                <td>{{decompte.mtCumulMoisPrecTTC}}</td>
                                            </tr>
                                            <tr>
                                                <td >Montant mensuel des travaux</td>
                                                <td>{{decompte.mtMoisTTC}}</td>
                                            </tr>
                                            <tr>
                                                <td>Remboursement cumulé de l'avance de démarrage</td>
                                                <td>{{decompte.mtRemboursementAvance}}</td>
                                            </tr>
                                            <tr>
                                                <td>Remboursement cumulé de l'avance de démarrage</td>
                                                <td>{{decompte.mtCumulRemboursementAvance}}</td>
                                            </tr>
                                            <tr>
                                                <td>Remboursement du mois</td>
                                                <td>{{decompte.mtRemboursementAvance}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="content description od_decompte_content">
                                {% include 'OGIVEProjectBundle:decompte:footer-table-decompte-signatures.html.twig' %}
                            </div>
                        </div>

                        <div class="ui fluid card od_add_project_card form_field" style="display: none;">
                            <div class="content">
                                <div class="left floated header">
                                    Mise à jour du décompte mensuel N°{{decompte.monthNumber}} de {{decompte.monthName}}
                                </div>
                                <div class="right floated meta">
                                    <a class="item cancel_edit_decompte"> Cancel</a>
                                </div>
                            </div>
                            <div class="content description">
                                {{ form_start(form, {'method': 'PUT', 'action': path('decompte_update_post', {'idProject': project.id, 'id': decompte.id}), 'attr': {'class': 'ui mini form', 'id': 'od_update_decompte_form', "autocomplete":"off"} }) }}
                                <div class="three fields">
                                    {{ form_widget(form.monthNumber,{'attr':{'placeholder':"Numero du decompte", 'data-validate': 'monthNumber'}})}}
                                    <div class="ui field">
                                        <label>{{ form_label(form.monthName,"Mois") }}</label>
                                        <div class="field"> 
                                            {{ form_widget(form.monthName,{'attr':{'placeholder':"Nom(s) de(s) mois ", 'data-validate': 'monthName'}})}}
                                        </div>
                                    </div>

                                    <div class="ui field">
                                        <label>Date de debut</label>
                                        <div class="field">
                                            <div class="ui calendar" >
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    {{ form_widget(form.startDate,{'attr':{'placeholder':"Date de debut", 'data-validate': 'start_date'}})}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui field">
                                        <label>Date de fin</label>
                                        <div class="field">
                                            <div class="ui calendar" >
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    {{ form_widget(form.endDate,{'attr':{'placeholder':"Date de fin", 'data-validate': 'end_date'}})}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="ui field">
                                        <label>{{ form_label(form.mtRemboursementAvance,"Remboursement de l'avance") }}</label>
                                        <div class="field"> 
                                            {{ form_widget(form.mtRemboursementAvance,{'attr':{'placeholder':"Remboursement de l'avance demarrage", 'data-validate': 'mt_remboursement_avance'}})}}
                                        </div>
                                    </div>
                                    <div class="ui field">
                                        <label>{{ form_label(form.mtPenalite,"Montant pénalités") }}</label>
                                        <div class="field"> 
                                            {{ form_widget(form.mtPenalite,{'attr':{'placeholder':"Montant des pénalités", 'data-validate': 'mt_penalite'}})}}
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <table class="ui celled structured yellow small table">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class='center aligned'>N°</th>
                                                <th rowspan="2" class='center aligned'>Désignation des ouvrages</th>
                                                <th rowspan="2" class='center aligned'>U</th>
                                                <th rowspan="2" class='center aligned'>P.U</th>                                   
                                                <th colspan="5" class='center aligned qtemois'>Quantité</th>
                                                <th colspan="5" class='center aligned'>Montant[{{decompte.project.projectCostCurrency}}]</th>
                                                <th rowspan="2" class='center aligned'>% réalisé</th>
                                            </tr>
                                            <tr>
                                                <th class='center aligned'>marché</th>
                                                <th class='center aligned'>projet d'exec.</th>
                                                <th class='center aligned'>cumul préc.</th>
                                                <th class='center aligned qtemois'>du mois</th>
                                                <th class='center aligned'>cumul mois</th>
                                                <th class='center aligned'>Marché</th>
                                                <th class='center aligned'>projet d'exec.</th>
                                                <th class='center aligned'>cumul préc.</th>
                                                <th class='center aligned'>du mois</th>
                                                <th class='center aligned'>cumul mois</th>
                                            </tr>

                                        </thead>
                                        {%if form.decompteTasks %}
                                            <tbody class="decompteTasks" data-prototype="{{ forms.decompteTask_prototype(form.decompteTasks.vars.prototype)|e }}">
                                                {% for decompteTask in form.decompteTasks %}
                                                    {{ forms.decompteTask_prototype(decompteTask) }}
                                                {%endfor %}
                                            </tbody>

                                            {% macro decompteTask_prototype(childForm) %}
                                                {% import _self as forms %}
                                                <tr>
                                                    {%if childForm.subDecompteTasks is defined and childForm.subDecompteTasks|length >= 0 %}
                                                        <td>{{ form_widget(childForm.numero,{'attr':{'data-validate': 'decompteTask_number', 'class': 'ui mini disabled input'}}) }}{{childForm.numero.vars.value}}</td>
                                                        <td colspan="15">{{ form_widget(childForm.nom,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.nom.vars.value}}</td>
                                                        {%for subDecompteTask in childForm.subDecompteTasks %}
                                                            {{ forms.decompteTask_prototype(subDecompteTask) }}
                                                        {%endfor %}
                                                    {% elseif  childForm.unite.vars.value  and childForm.prixUnitaire.vars.value  and (childForm.qtePrevueMarche.vars.value or childForm.qtePrevueMarche.vars.value == 0) and  (childForm.qtePrevueProjetExec.vars.value or childForm.qtePrevueProjetExec.vars.value == 0) %}
                                                        <td>{{ form_widget(childForm.numero,{'attr':{'data-validate': 'decompteTask_number', 'class': 'ui mini disabled input'}}) }}{{childForm.numero.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.nom,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.nom.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.unite,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.unite.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.prixUnitaire,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.prixUnitaire.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.qtePrevueMarche,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.qtePrevueMarche.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.qtePrevueProjetExec,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.qtePrevueProjetExec.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.qteCumulMoisPrec,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.qteCumulMoisPrec.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.qteMois,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini input qtemois'}}) }}</td>
                                                        <td>{{ form_widget(childForm.qteCumulMois,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.qteCumulMois.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.mtPrevueMarche,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.mtPrevueMarche.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.mtPrevueProjetExec,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.mtPrevueProjetExec.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.mtCumulMoisPrec,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.mtCumulMoisPrec.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.mtMois,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.mtMois.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.mtCumulMois,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.mtCumulMois.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.pourcentRealisation,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.pourcentRealisation.vars.value}}</td>
                                                    {%else %}
                                                        <td>{{ form_widget(childForm.numero,{'attr':{'data-validate': 'decompteTask_number', 'class': 'ui mini disabled input'}}) }}{{childForm.numero.vars.value}}</td>
                                                        <td colspan="15">{{ form_widget(childForm.nom,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.nom.vars.value}}</td>
                                                       {# {%for subDecompteTask in childForm.subDecompteTasks %}
                                                            {{ forms.decompteTask_prototype(subDecompteTask) }}

                                                        {%endfor %}#}
                                                    {% endif %}
                                                </tr>
                                            {% endmacro %}
                                        {%else %}
                                            <tfoot>
                                                <tr>
                                                    <th colspan="5">
                                                        <div class='center aligned'>No task created at this moment</div>
                                                    </th>
                                                </tr>
                                            </tfoot>
                                        {%endif %}
                                    </table>
                                </div>
                                {{form_widget(form._token)}}
                                <div class="field">
                                    {% include('OGIVEProjectBundle::form-message-success-error.html.twig') %}
                                </div>
                                <div class="field right aligned">
                                    <a id="od_update_decompte_cancel_btn" class="ui mini red button cancel_edit_decompte" href="{{path('decompte_show_get', {'idProject': decompte.project.id, 'id': decompte.id})}}">Annuler</a>
                                    <button id="od_update_decompte_submit_btn" class="ui mini yellow button" type="submit">Sauvegarder</button>                                    
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block confirmation_modal %}
    <div id="confirm_delete_decompte" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de la suppression
        </div>
        <div class="content">
            <p>Vous êtes sur le point de supprimer ce décompte.</p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id="execute_delete_decompte"  class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div id="validate_decompte" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Validation du décompte N°{{decompte.monthNumber}}
        </div>
        <div class="content">
            <form class="ui mini form">
                <div class="ui field">
                    <label>Lieu de validation</label>
                    <div class="field">
                        {{ form_widget(formForValidation.validationPlace,{'attr':{'placeholder':"Lieu de validation", 'data-validate': 'validation_place'}})}}
                    </div>
                </div>
                <div class="ui field">
                    <label>Date de validation</label>
                    <div class="field">
                        <div class="ui calendar" >
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                {{ form_widget(formForValidation.validationDate,{'attr':{'placeholder':"Date de validation", 'data-validate': 'validation_date'}})}}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui red deny mini button">
                Fermer
            </div>
            <div id="execute_validate_decompte"  class="ui green right labeled icon mini button">
                Valider
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div id="confirm_submission_decompte" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation la soumission du décompte N°{{decompte.monthNumber}}
        </div>
        <div class="content">
            <p>Vous êtes sur le point de soumettre ce décompte pour validation.</p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny mini button">
                Annuler
            </div>
            <div id="execute_submission_decompte"  class="ui green right labeled icon mini button">
                Confirmer
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/ogiveproject/js/decompte.js')}}"></script>

{% endblock %}