{% import _self as forms %}
{% extends "OGIVEProjectBundle::layout.html.twig" %}
{% trans_default_domain 'OGIVEProjectBundle' %}
{% block title %}Mise à jour du décompte mensuel N°{{decompte.monthNumber}} de {{decompte.monthName}}{% endblock %}


{% block content %}
    <div class="ui basic fixed segment content">
        <div class='ui container' style="width: 100%">
            {% include('OGIVEProjectBundle:project:top-content-project-page.html.twig') %}
            <div class="ui one column stackable grid padded">
                <div class="wide column">
                    <div class="ui top attached tabular menu od_project_menu">
                        {% include('OGIVEProjectBundle:project:single-project-header.html.twig') %}
                    </div>
                    <div class="ui bottom attached stackable segment od_project_menu_content">
                        <div class="ui fluid card od_add_project_card">
                            <div class="content">
                                <div class="left floated header">
                                    Mise à jour du décompte mensuel N°{{decompte.monthNumber}} de {{decompte.monthName}}
                                </div>
                                <div class="right floated meta">
                                    <a href="{{path('decompte_show_get', {'idProject': decompte.project.id, 'id': decompte.id})}}"> Cancel</a>
                                </div>
                            </div>
                            <div class="content description">
                                {{ form_start(form, {'method': 'PUT', 'action': path('decompte_update_post', {'idProject': project.id, 'id': decompte.id}), 'attr': {'class': 'ui mini form', 'id': 'od_update_decompte_form', "autocomplete":"off"} }) }}
                                <div class="three fields">
                                    {{ form_widget(form.monthNumber,{'attr':{'placeholder':"Numero du decompte", 'data-validate': 'monthNumber'}})}}
                                    <div class="ui field">
                                        <label>{{ form_label(form.monthName,"Mois") }}</label>
                                        <div class="field"> 
                                            {{ form_widget(form.monthName,{'attr':{'placeholder':"Nom(s) de(s) mois ", 'data-validate': 'monthName'}})}}
                                        </div>
                                    </div>
                                    
                                    <div class="ui field">
                                        <label>Date de debut</label>
                                        <div class="field">
                                            <div class="ui calendar" >
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    {{ form_widget(form.startDate,{'attr':{'placeholder':"Date de debut", 'data-validate': 'start_date'}})}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui field">
                                        <label>Date de fin</label>
                                        <div class="field">
                                            <div class="ui calendar" >
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    {{ form_widget(form.endDate,{'attr':{'placeholder':"Date de fin", 'data-validate': 'end_date'}})}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%if project.remboursementAvanceOption and project.remboursementAvanceOption != 1 %}
                                <div class="two fields">
                                    <div class="ui field">
                                        <label>{{ form_label(form.remboursementAvanceIntensity,"Pourcentage de remboursement de l'avance") }}</label>
                                        <div class="field"> 
                                            {{ form_widget(form.remboursementAvanceIntensity,{'attr':{'placeholder':"Pourcentage de remboursement de l'avance", 'data-validate': 'mt_remboursement_avance'}})}}
                                        </div>
                                    </div>
                                </div>
                                {%endif %}
                                <h4 class="ui dividing header">Pénalités</h4>

                                <div class="ui field">
                                    <table class="ui very basic table">
                                        <thead>
                                            <tr><th>Nom</th>
                                                <th>Montant</th>
                                                <th>Description</th>
                                                <th class="right aligned">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="Penalities" data-prototype="{{ forms.penality_prototype(form.penalities.vars.prototype)|e }}">
                                            {% for penality in form.penalities %}
                                                <tr>
                                                    {{ forms.penality_prototype(penality) }}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        {% macro penality_prototype(childForm) %}
                                            <td>{{ form_widget(childForm.name,{'attr':{'data-validate': 'penality_name', 'placeholder': 'Désignation de la pénalité'}}) }}</td>
                                            <td>{{ form_widget(childForm.amount,{'attr':{'data-validate': 'penality_amount', 'placeholder': 'Montant de la pénalité'}}) }}</td>
                                            <td>{{ form_widget(childForm.description,{'attr':{'data-validate': 'penality_description', 'placeholder': 'Description de la pénalité', 'rows': '3'}}) }}</td>
                                        {% endmacro %}
                                    </table>
                                </div>
                                <div class="field">
                                    <table class="ui celled structured yellow small table">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class='center aligned'>N°</th>
                                                <th rowspan="2" class='center aligned'>Désignation des ouvrages</th>
                                                <th rowspan="2" class='center aligned'>U</th>
                                                <th rowspan="2" class='center aligned'>P.U</th>                                   
                                                <th colspan="5" class='center aligned qtemois'>Quantité</th>
                                                <th colspan="5" class='center aligned'>Montant[{{decompte.project.projectCostCurrency}}]</th>
                                                <th rowspan="2" class='center aligned'>% réalisé</th>
                                            </tr>
                                            <tr>
                                                <th class='center aligned'>marché</th>
                                                <th class='center aligned'>projet d'exec.</th>
                                                <th class='center aligned'>cumul préc.</th>
                                                <th class='center aligned qtemois'>du mois</th>
                                                <th class='center aligned'>cumul mois</th>
                                                <th class='center aligned'>marché</th>
                                                <th class='center aligned'>projet d'exec.</th>
                                                <th class='center aligned'>cumul préc.</th>
                                                <th class='center aligned'>du mois</th>
                                                <th class='center aligned'>cumul mois</th>
                                            </tr>

                                        </thead>
                                        {%if form.decompteTasks %}
                                            <tbody class="decompteTasks" data-prototype="{{ forms.decompteTask_prototype(form.decompteTasks.vars.prototype)|e }}">
                                                {% for decompteTask in form.decompteTasks %}
                                                    {{ forms.decompteTask_prototype(decompteTask) }}
                                                {%endfor %}
                                            </tbody>

                                            {% macro decompteTask_prototype(childForm) %}
                                                {% import _self as forms %}
                                                <tr>
                                                    {%if childForm.subDecompteTasks is defined and childForm.subDecompteTasks|length > 0 %}
                                                        <td>{{ form_widget(childForm.numero,{'attr':{'data-validate': 'decompteTask_number', 'class': 'ui mini disabled input'}}) }}{{childForm.numero.vars.value}}</td>
                                                        <td colspan="15">{{ form_widget(childForm.nom,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.nom.vars.value}}</td>
                                                        {%for subDecompteTask in childForm.subDecompteTasks %}
                                                            {{ forms.decompteTask_prototype(subDecompteTask) }}
                                                        {%endfor %}

                                                    {% elseif childForm.unite.vars.value  and childForm.prixUnitaire.vars.value  and (childForm.qtePrevueMarche.vars.value or childForm.qtePrevueMarche.vars.value == 0) and  (childForm.qtePrevueProjetExec.vars.value or childForm.qtePrevueProjetExec.vars.value == 0) %}
                                                        <td>{{ form_widget(childForm.numero,{'attr':{'data-validate': 'decompteTask_number', 'class': 'ui mini disabled input'}}) }}{{childForm.numero.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.nom,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.nom.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.unite,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.unite.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.prixUnitaire,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.prixUnitaire.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.qtePrevueMarche,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.qtePrevueMarche.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.qtePrevueProjetExec,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.qtePrevueProjetExec.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.qteCumulMoisPrec,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.qteCumulMoisPrec.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.qteMois,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini input qtemois'}}) }}</td>
                                                        <td>{{ form_widget(childForm.qteCumulMois,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.qteCumulMois.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.mtPrevueMarche,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.mtPrevueMarche.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.mtPrevueProjetExec,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.mtPrevueProjetExec.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.mtCumulMoisPrec,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.mtCumulMoisPrec.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.mtMois,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.mtMois.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.mtCumulMois,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.mtCumulMois.vars.value}}</td>
                                                        <td>{{ form_widget(childForm.pourcentRealisation,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.pourcentRealisation.vars.value}}</td>
                                                    {%else %}
                                                        <td>{{ form_widget(childForm.numero,{'attr':{'data-validate': 'decompteTask_number', 'class': 'ui mini disabled input'}}) }}{{childForm.numero.vars.value}}</td>
                                                        <td colspan="15">{{ form_widget(childForm.nom,{'attr':{'data-validate': 'decompteTask_name', 'class': 'ui mini disabled input'}}) }}{{childForm.nom.vars.value}}</td>
                                                        {#{%for subDecompteTask in childForm.subDecompteTasks %}
                                                            {{ forms.decompteTask_prototype(subDecompteTask) }}

                                                        {%endfor %}#}
                                                    {% endif %}
                                                </tr>
                                            {% endmacro %}
                                        {%else %}
                                            <tfoot><tr><th colspan="5">
                                                        <div class='center aligned'>No task created at this moment</div>
                                                    </th></tr></tfoot>
                                                {%endif %}
                                    </table>
                                </div>
                                {{form_widget(form._token)}}
                                <div class="field">
                                    {% include('OGIVEProjectBundle::form-message-success-error.html.twig') %}
                                </div>
                                <div class="field right aligned">
                                    <a id="od_update_decompte_cancel_btn" class="ui mini red button" href="{{path('decompte_show_get', {'idProject': decompte.project.id, 'id': decompte.id})}}">Annuler</a>
                                    <button id="od_update_decompte_submit_btn" class="ui mini yellow button" type="submit">Sauvegarder</button>
                                    
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/ogiveproject/js/decompte.js')}}"></script>
    <script>
        function addPenalityForm($collectionPenality, $newLinkTrPenality) {
            // Get the data-prototype explained earlier
            var prototype = $collectionPenality.data('prototype');

            // get the new index
            var index = $collectionPenality.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var $newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionPenality.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a projectManager" link li
            var $newFormTr = $('<tr></tr>').append($newForm);
            $newLinkTrPenality.before($newFormTr);
            addPenalityFormDeleteLink($newFormTr);
        }

        function addPenalityFormDeleteLink($projectManagerFormTr) {
            var $removeFormA = $('<td class="right aligned"><button class="ui mini red compact icon button" data-tooltip="Supprimer" data-position="bottom center" data-inverted="" data-variation="mini"><i class="trash icon"></i></button></td>');
            $projectManagerFormTr.append($removeFormA);
            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the projectManager form
                $projectManagerFormTr.remove();
            });
        }
        var $collectionPenality;

        // setup an "add a projectManager" link
        var $addPenalityLink = $('<button class="ui mini primary button"><i class="plus icon"></i> Ajouter une pénalité</button>');
        var $newLinkTrPenality = $('<tr></tr>').append($addPenalityLink);

        jQuery(document).ready(function () {
            /******** suppression des projectManagers *********/
            // Get the ul that holds the collection of projectManagers
            $collectionPenality = $('tbody.Penalities');

            // add a delete link to all of the existing projectManager form li elements
            $collectionPenality.find('tr').each(function () {
                addPenalityFormDeleteLink($(this));
            });


            /******** Ajout des projectManagers *********/

            // Get the ul that holds the collection of projectManagers
            $collectionPenality = $('tbody.Penalities');

            // add the "add a projectManager" anchor and li to the projectManagers ul
            $collectionPenality.append($newLinkTrPenality);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionPenality.data('index', $collectionPenality.find(':input').length);

            $addPenalityLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new projectManager form (see next code block)
                addPenalityForm($collectionPenality, $newLinkTrPenality);
            });

        });
    </script>
{% endblock %}