{% import _self as forms %}
{% extends "OGIVEProjectBundle::layout.html.twig" %}
{% trans_default_domain 'OGIVEProjectBundle' %}
{% block title %}Mise à jour de la tâche : {{task.nom}}{% endblock %}

{% block content %}
    <div class="ui basic fixed segment content">
        <div class='ui container'>
            <div class="ui one column stackable grid padded">
                <div class="wide column">
                    <div class="ui top attached tabular menu od_project_menu">
                        {% include('OGIVEProjectBundle:project:single-project-header.html.twig') %}
                    </div>
                    <div class="ui bottom attached segment od_project_menu_content">
                        <div class="ui fluid card od_add_project_card">
                            <div class="content">
                                <div class="header">
                                    Mise à jour de la tâche N°: {{task.numero}}
                                </div>
                            </div>
                            <div class="content description">
                                {{ form_start(form, {'method': 'PUT', 'action': path('task_update_post', {'idProject': task.projectTask.id, 'id': task.id}), 'attr': {'class': 'ui mini form', 'id': 'od_update_task_form', "autocomplete":"off"} }) }}
                                <h4 class="ui dividing header">Information de la tâche</h4>
                                <div class="fields">
                                    <div class="three wide field">
                                        <label>{{ form_label(form.numero,"Numéro") }}</label>
                                        <div class="field"> 
                                            {{ form_widget(form.numero,{'attr':{'placeholder':"Numéro de la tâche", 'data-validate': 'numero'}})}}
                                        </div>
                                    </div>
                                    <div class="thirteen wide field">
                                        <label>{{ form_label(form.nom,"Désignation") }}</label>
                                        <div class="field"> 
                                            {{ form_widget(form.nom,{'attr':{'placeholder':"Désignation de l'ouvrage", 'data-validate': 'nom'}})}}
                                        </div>
                                    </div>
                                </div>
                                <div class="four fields">                                        
                                    <div class="ui field">
                                        <label>{{ form_label(form.unite,"Unité") }}</label>
                                        <div class="field">
                                            <div class="field"> 
                                                {{ form_widget(form.unite,{'attr':{'placeholder':"Unité de la tâche", 'data-validate': 'unite'}})}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui field">
                                        <label>{{ form_label(form.prixUnitaire,"Prix unitaire") }}</label>
                                        <div class="field">
                                            <div class="field"> 
                                                {{ form_widget(form.prixUnitaire,{'attr':{'placeholder':"Prix unitaire de la tâche", 'data-validate': 'prixUnitaire'}})}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui field">
                                        <label>{{ form_label(form.qtePrevueMarche,"Qté marché") }}</label>
                                        <div class="field">
                                            <div class="field"> 
                                                {{ form_widget(form.qtePrevueMarche,{'attr':{'placeholder':"Qté marché de la tâche", 'data-validate': 'prixUnitaire'}})}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui field">
                                        <label>{{ form_label(form.qtePrevueProjetExec,"Qté projet exécution") }}</label>
                                        <div class="field">
                                            <div class="field"> 
                                                {{ form_widget(form.qtePrevueProjetExec,{'attr':{'placeholder':"Qté projet execution", 'data-validate': 'prixUnitaire'}})}}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                {#<div class="two fields">                                        
                                    <div class="ui field">
                                        <label>Start date<em>*</em></label>
                                        <div class="field">
                                            <div class="ui calendar" >
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    <input type="text" name="start-date" placeholder="Start date" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui field">
                                        <label>End date<em>*</em></label>
                                        <div class="field">
                                            <div class="ui calendar" >
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    <input type="text" name="end-date" placeholder="End date" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>#}

                                <h4 class="ui dividing header">Sous tâches</h4>

                                <div class="ui field">
                                    <table class="ui very basic table">
                                        <thead>
                                            <tr><th>Numero</th>
                                                <th>Désignation des ouvrages</th>
                                                <th>Unité</th>
                                                <th>Prix Unitaire</th>
                                                <th>Qté Marché</th>
                                                <th>Qté projet Exec</th>
                                                    {#<th>start date</th>
                                                    <th>end date</th>#}
                                                <th class="right aligned">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tasks" data-prototype="{{ forms.task_prototype(form.subTasks.vars.prototype)|e }}">
                                            {% for subTask in form.subTasks %}
                                                <tr>
                                                    {{ forms.task_prototype(subTask) }}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        {% macro task_prototype(childForm) %}
                                            <td>{{ form_widget(childForm.numero,{'attr':{'data-validate': 'task_name', 'placeholder': 'Numero de la tâche'}}) }}</td>
                                            <td style="width: 35%">{{ form_widget(childForm.nom,{'attr':{'data-validate': 'task_number', 'placeholder':"Désignation de l'ouvrage"}}) }}</td>
                                            <td>{{ form_widget(childForm.unite,{'attr':{'data-validate': 'task_unite', 'placeholder': 'Unité'}}) }}</td>
                                            <td>{{ form_widget(childForm.prixUnitaire,{'attr':{'data-validate': 'task_prixUnitaire', 'placeholder': 'Prix unitaire'}}) }}</td>
                                            <td>{{ form_widget(childForm.qtePrevueMarche,{'attr':{'data-validate': 'task_qtePrevueMarche', 'placeholder': 'Qté prevue marché'}}) }}</td>
                                            <td>{{ form_widget(childForm.qtePrevueProjetExec,{'attr':{'data-validate': 'task_qtePrevueProjetExec', 'placeholder': "Qté projet d'exécution"}}) }}</td>
                                            {#<td>
                                                <div class="field">
                                                    <div class="ui calendar" >
                                                        <div class="ui input left icon">
                                                            <i class="calendar icon"></i>
                                                            {{ form_widget(childForm.startDate,{'attr':{'id': 'start-date', 'data-validate': 'task_startDate'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </td> 
                                            <td>
                                                <div class="field">
                                                    <div class="ui calendar" >
                                                        <div class="ui input left icon">
                                                            <i class="calendar icon"></i>
                                                            {{ form_widget(childForm.endDate,{'attr':{'id': 'end-date', 'data-validate': 'task_endDate'}}) }}
                                                        </div>
                                                    </div>
                                                </div>                                                
                                            </td>#}
                                        {% endmacro %}
                                    </table>
                                </div>
                                {{form_widget(form._token)}}
                                <div class="field">
                                    {% include('OGIVEProjectBundle::form-message-success-error.html.twig') %}
                                </div>
                                <div class="field right aligned">
                                    <button id="od_update_task_submit_btn"  class="ui mini yellow button" type="submit">Sauvegarder</button>
                                    <a id="od_update_task_cancel_btn" class="ui mini red button"  href="{{path('project_tasks_get', {'id': task.projectTask.id})}}">Annuler</a>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/ogiveproject/js/task.js')}}"></script>
    <script>
        function addTaskForm($collectionTask, $newLinkTrTask) {
            // Get the data-prototype explained earlier
            var prototype = $collectionTask.data('prototype');

            // get the new index
            var index = $collectionTask.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var $newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionTask.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a projectManager" link li
            var $newFormTr = $('<tr></tr>').append($newForm);
            $newLinkTrTask.before($newFormTr);
            $('input[data-validate="task_startDate"]').datetimepicker({
                timepicker: false,
                //minDate: '0',
                format: 'd-m-Y',
                lang: 'fr',
                scrollInput: false
            });
            $('input[data-validate="task_endDate"]').datetimepicker({
                timepicker: false,
                //minDate: '0',
                format: 'd-m-Y',
                lang: 'fr',
                scrollInput: false
            });
            addTaskFormDeleteLink($newFormTr);
        }

        function addTaskFormDeleteLink($projectManagerFormTr) {
            var $removeFormA = $('<td class="right aligned"><button class="ui mini red compact icon button" data-tooltip="Supprimer" data-position="bottom center" data-inverted="" data-variation="mini"><i class="trash icon"></i></button></td>');
            $projectManagerFormTr.append($removeFormA);
            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the projectManager form
                $projectManagerFormTr.remove();
            });
        }
        var $collectionTask;

        // setup an "add a projectManager" link
        var $addTaskLink = $('<button class="ui mini primary button"><i class="plus icon"></i> Ajouter une tâche</button>');
        var $newLinkTrTask = $('<tr></tr>').append($addTaskLink);

        jQuery(document).ready(function () {
            /******** suppression des projectManagers *********/
            // Get the ul that holds the collection of projectManagers
            $collectionTask = $('tbody.tasks');

            // add a delete link to all of the existing projectManager form li elements
            $collectionTask.find('tr').each(function () {
                addTaskFormDeleteLink($(this));
            });


            /******** Ajout des projectManagers *********/

            // Get the ul that holds the collection of projectManagers
            $collectionTask = $('tbody.tasks');

            // add the "add a projectManager" anchor and li to the projectManagers ul
            $collectionTask.append($newLinkTrTask);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionTask.data('index', $collectionTask.find(':input').length);

            $addTaskLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new projectManager form (see next code block)
                addTaskForm($collectionTask, $newLinkTrTask);
            });

        });
    </script>
{% endblock %}