{% extends "OGIVEProjectBundle::layout.html.twig" %}
{% trans_default_domain 'OGIVEProjectBundle' %}
{% block title %}Informations générales du projet: {{project.numeroMarche}}{% endblock %}

{% block content %}
    <div class="ui basic fixed segment content">
        <div class='ui container'>
            {% include('OGIVEProjectBundle:project:top-content-project-page.html.twig') %}
            <div class="ui top attached stackable tabular menu od_project_menu">
                {% include('OGIVEProjectBundle:project:single-project-header.html.twig') %}
            </div>
            <div class="ui bottom attached segment od_project_menu_content">
                <div class="ui two column stackable grid padded">               
                    <div class="eleven wide column">
                        <div class="ui fluid card od_project_details_card">
                            <div class="content">
                                <div class="ui text menu" style="margin: 0px;">                                    
                                    <div class="right menu">
                                        {#                                        <a class="item" data-tooltip="Déclarer une avance démarrage" data-position="bottom center" data-inverted="" data-variation="mini" onclick="start_advance({{project.id}});"><i class="blue plus icon"></i> Avance démarrage</a>#}
{#                                        <a class="item" data-tooltip="Modifier" data-position="bottom center" data-inverted="" data-variation="mini" href="{{path('project_update_get', {'id': project.id})}}"><i class="blue write icon"></i> Modifier</a>                                        #}
                                        <div class="ui dropdown dropdown_actions item">
                                            <i class="large ellipsis horizontal icon"></i>
                                            <div class="menu">
                                                <a class="item"  href="{{path('project_parameters_update_get', {'id': project.id})}}"><i class="blue setting icon"></i> Paramètres</a>
                                                <a class="item"  href="{{path('project_update_get', {'id': project.id})}}"><i class="blue write icon"></i> Modifier</a>
                                                <a id="delete_project_btn{{project.id}}" class="item" onclick="delete_project({{project.id}});"><i class="red trash icon"></i> Supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content description">
                                <div class="ui yellow progress" data-value="{{lastDecompte.pourcentRealisation}}" data-total="100" id="project_progress">
                                    <div class="bar">
                                        <div class="progress warning"></div>
                                    </div>
                                    <div class="label">{{lastDecompte.pourcentRealisation}}% de réalisation</div>
                                </div>
                                <div class="ui stackable grid">
                                    <div class="column">
                                        <!--<h4 class="ui dividing header">Personal Information</h4>-->
                                        <table class="ui small table od_project_details_table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label>MAITRE D'OUVRAGE</label>
                                                    </td>
                                                    <td>{% if project.owner%}{{project.owner.nom}}{% endif%}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>N° DU MARCHE</label>
                                                    </td>
                                                    <td>{{project.numeroMarche}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>OBJET</label>
                                                    </td>
                                                    <td>{{project.subject}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>DELAIS</label>
                                                    </td>
                                                    <td>{{project.delais}} jour(s)</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>PERIODE D'EXECUTION</label>
                                                    </td>
                                                    <td>{{project.startDate|date('d/m/Y')}} - {{project.endDate|date('d/m/Y')}}</td>
                                                </tr>
                                                {% if project.projectCost %}
                                                    <tr>
                                                        <td>
                                                            <label>COÛT DU PROJET</label>
                                                        </td>
                                                        <td>{{project.projectCost}} {{project.projectCostCurrency}}</td>
                                                    </tr>
                                                {% endif %}
                                                {% if project.avanceDemarrage %}
                                                    <tr>
                                                        <td>
                                                            <label>AVANCE DE DEMARRAGE</label>
                                                        </td>
                                                        <td>{{project.avanceDemarrage}}%</td>
                                                    </tr>
                                                {% endif %}
                                                {% if project.numeroLot %}
                                                    <tr>
                                                        <td>
                                                            <label>N° DE LOT</label>
                                                        </td>
                                                        <td>{{project.numeroLot}}</td>
                                                    </tr>
                                                {% endif %}
                                                <tr>
                                                    <td>
                                                        <label>LIEU D'EXECUTION</label>
                                                    </td>
                                                    <td>{{project.lieuExecution}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>REGION</label>
                                                    </td>
                                                    <td>{{project.region}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>DEPARTEMENT</label>
                                                    </td>
                                                    <td>{{project.departement}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>MISSION DE CONTRÔLE</label>
                                                    </td>
                                                    <td>{%if projectManager %} {{projectManager.nom}} {% endif %}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>TITULAIRE</label>
                                                    </td>
                                                    <td>{%if holder %} {{holder.nom}} {% endif %}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>DATE DE SOUSCRIPTION</label>
                                                    </td>
                                                    <td>{{project.suscriptionDate|date('d/m/Y')}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>DATE DE SIGNATURE</label>
                                                    </td>
                                                    <td>{{project.signatureDate|date('d/m/Y')}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>DATE DE NOTIFICATION</label>
                                                    </td>
                                                    <td>{{project.notificationDate|date('d/m/Y')}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                                   
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        {% include('OGIVEProjectBundle::right-aside-page.html.twig') %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block confirmation_modal %}
    <div id="confirm_delete_project" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de la suppression
        </div>
        <div class="content">
            <p>Vous êtes sur le point de supprimer cet projet.</p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny mini button">
                Non
            </div>
            <div id="execute_delete_project"  class="ui green right labeled icon mini button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div id="start_advance_modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Déclarer une avance démarrage.
        </div>
        <div class="content">
            {{ form_start(form, {'method': 'PUT', 'action': path('project_update_start_advance', {'id': project.id}), 'attr': {'class': 'ui mini form', 'id': 'od_update_start_advance_form', "autocomplete":"off"} }) }}
            <div class="field">
                <label>Montant avance démarrage [{{project.projectCostCurrency}}]</label>
                <div class="field"> 
                    {{ form_widget(form.avanceDemarrage,{'attr':{'placeholder':"Montant de l'avance de demarrage", 'data-validate': 'avanceDemarrage'}})}}
                </div>
            </div>
            <div class="field">
                {% include('OGIVEProjectBundle::form-message-success-error.html.twig') %}
            </div>
            {{form_end(form)}}
        </div>
        <div class="actions">
            <div id="execute_start_advance_cancel" class="ui red deny mini button">
                Annuler
            </div>
            <div id="execute_start_advance"  class="ui green mini button">
                Sauvegarder
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/ogiveproject/js/project.js')}}"></script>       
{% endblock %}