{% extends "OGIVEProjectBundle::layout.html.twig" %}
{% trans_default_domain 'OGIVEProjectBundle' %}
{% block title %}Décomptes mensuels{% endblock %}

{% block content %}
    <div class="ui basic fixed segment content">
        <div class='ui container'>
            {% include('OGIVEProjectBundle:project:top-content-project-page.html.twig') %}
            <div class="ui top attached stackable tabular menu od_project_menu">
                {% include('OGIVEProjectBundle:project:single-project-header.html.twig') %}
            </div>
            <div class="ui bottom attached segment od_project_menu_content">
                <div class="ui two column stackable grid padded">
                    <div class="eleven wide column">
                        <div class="ui fluid card od_card_top_table_action">
                            <div class="content">
                                <a class="ui right floated yellow mini button" href="{{path('decompte_add_get', {'id': project.id})}}"><i class="plus icon"></i> Créer un décompte</a>
                            </div>
                        </div>
                        <table class="ui celled yellow small table">
                            <thead>
                                <tr>
                                    <th>Numéro</th>
                                    <th>Mois</th>
                                    <th>Date de début</th>
                                    <th>Date de fin</th>
                                    <th>Etat</th>
                                    <th>Actions</th>
                                </tr></thead>
                                {%if decomptes %}
                                <tbody>
                                    {% set i= 1 %}
                                    {%for decompte in decomptes %}
                                        <tr id="decompte{{decompte.id}}">
                                            <td>
                                                <a class="" href="{{path('decompte_show_get', {'idProject': decompte.project.id, 'id': decompte.id})}}">Décompte N°{{decompte.monthNumber}}</a>
                                            </td>
                                            <td>
                                                {{decompte.monthName}}                                               
                                            </td>
                                            <td>{{decompte.startDate}}</td>
                                            <td>{{decompte.endDate}}</td>
                                            <td>{{decompte.decompteState}}</td>
                                            <td style="padding: 0px;">
                                                <div class="ui text menu" style="margin: 0px;">
                                                    <div class="left menu">
                                                    </div>
                                                    <div class="center menu">
                                                        <a class="item" data-tooltip="Modifier" data-position="bottom center" data-inverted="" data-variation="mini" href="{{path('decompte_update_get', {'idProject': decompte.project.id, 'id': decompte.id})}}"><i class="blue write icon"></i></a>
                                                        <div class="ui dropdown dropdown_actions item">
                                                            <i class="large ellipsis vertical icon"></i>
                                                            <div class="menu">
                                                                <a id="delete_decompte_btn{{decompte.id}}" class="item"  onclick="delete_decompte({{decompte.project.id}}, {{decompte.id}});"><i class="red trash icon"></i> Supprimer</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="right menu">
                                                    </div>
                                                </div>                                                
                                            </td>
                                        </tr>
                                        {% set i = i+1 %}
                                    {%endfor %}

                                </tbody>
                            {%else %}
                                <tfoot><tr><th colspan="6">
                                            <div class='center aligned'>No decompte created at the moment</div>
                                        </th></tr></tfoot>
                                    {%endif %}
                        </table>
                    </div>
                    <div class="five wide column">
                        {% include('OGIVEProjectBundle::right-aside-page.html.twig') %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block confirmation_modal %}
    <div id="confirm_delete_decompte" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de la suppression
        </div>
        <div class="content">
            <p>Vous êtes sur le point de supprimer ce décompte.</p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id="execute_delete_decompte"  class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/ogiveproject/js/decompte.js')}}"></script>
{% endblock javascripts %}