{% import _self as forms %}
{% extends "OGIVEProjectBundle::layout.html.twig" %}
{% trans_default_domain 'OGIVEProjectBundle' %}
{% block title %}Les tâches du projet : {{project.numeroMarche}}{% endblock %}

{% block content %}
    {% macro show_task_infos(task) %}
        {% import _self as forms %}
        <tr id="task{{task.id}}">
            <td>
                {{task.numero}}
            </td>
            <td style="max-width: 25em;">
                {{task.nom}}                                               
            </td>
            <td>
                {{task.unite}}
            </td>
            <td>
                {{task.prixUnitaire}}                                               
            </td>
            <td>
                {{task.qtePrevueMarche}}
            </td>
            <td>
                {{task.qtePrevueProjetExec}}                                               
            </td>
            <td>
                {%if task.startDate %}{{task.startDate|date('d/m/Y')}} {%endif %}
            </td>
            <td>
                {%if task.startDate %}{{task.endDate|date('d/m/Y')}}{%endif %}                                              
            </td>
            {%if app.user.id == task.projectTask.createdUser.id %}
            <td style="text-align: center; padding: 0px;">
                <div class="ui text menu" style="margin: 0px;">
                    <div class="left menu">
                    </div>
                    <div class="center menu">
                        <a class="item" data-tooltip="Ajouter sous tâche" data-position="bottom center" data-inverted="" data-variation="mini" href="{{path('sub_task_add_get', {'idProject': task.projectTask.id, 'id': task.id,})}}"><i class="green plus icon"></i></a>
                        <a class="item" data-tooltip="Modifier" data-position="bottom center" data-inverted="" data-variation="mini" href="{{path('task_update_get', {'idProject': task.projectTask.id, 'id': task.id})}}"><i class="blue write icon"></i></a>
                        <div class="ui dropdown dropdown_actions item">
                            <i class="large ellipsis vertical icon"></i>
                            <div class="menu">
                                <a id="delete_task_btn{{task.id}}" class="item" onclick="delete_task({{task.projectTask.id}}, {{task.id}});"><i class="red trash icon"></i> Supprimer</a>
                            </div>
                        </div>
                    </div>
                    <div class="right menu">
                    </div>
                </div>
            </td>
            {%endif %}
        </tr>
        {%if task.subTasks %}
            {%for task in task.subTasks %}
                {{forms.show_task_infos(task)}}
            {%endfor %}
        {% endif %}
    {% endmacro %}
    <div class="ui basic fixed segment content">
        <div class='ui container'>
            {% include('OGIVEProjectBundle:project:top-content-project-page.html.twig') %}
            <div class="ui one column stackable grid padded">
                <div class="wide column">
                    <div class="ui top attached stackable tabular menu od_project_menu">
                        {% include('OGIVEProjectBundle:project:single-project-header.html.twig') %}
                    </div>
                    <div class="ui bottom attached segment od_project_menu_content">
                        {%if app.user.id == project.createdUser.id %}
                        <div class="ui fluid card od_card_top_table_action">
                            <div class="content">
                                <a class="ui right floated yellow mini button" href="{{path('task_add_get', {'id': project.id})}}"><i class="plus icon"></i> Ajouter une tâche</a>
                            </div>
                        </div>
                        {%endif %}
{#                        {{ form_start(form, {'method': 'PUT', 'action': '', 'attr': {'class': '', 'id': 'od_create_task_form', "autocomplete":"off"} }) }}#}
                        <table class="ui celled structured yellow small table">
                            <thead>
                                <tr>
                                    <th rowspan="2" class='center aligned'>N°</th>
                                    <th rowspan="2" class='center aligned'>Désignation des ouvrages</th>
                                    <th rowspan="2" class='center aligned'>U</th>
                                    <th rowspan="2" class='center aligned'>P.U</th>                                   
                                    <th colspan="2" class='center aligned'>Quantité</th>
                                    <th rowspan="2" class='center aligned'>Date début</th>
                                    <th rowspan="2" class='center aligned'>Date fin</th>
                                    {%if app.user.id == project.createdUser.id %}
                                    <th rowspan="2" class='center aligned'>Actions</th>
                                    {%endif %}
                                </tr>
                                <tr>
                                    <th class='center aligned' class='center aligned'>marché</th>
                                    <th class='center aligned' class='center aligned'>projet d'exec.</th>

                                </tr>
                            </thead>
                            {%if tasks %}
                            <tbody>
                                {%for task in tasks %}
                                    {{forms.show_task_infos(task)}}
                                {%endfor %}
                            </tbody>

                            
                            {%if total_pages>1 and total_pages >= page %}
                                <tfoot>
                                    <tr><th colspan="7">
                                            <div class="ui right floated mini pagination menu">
                                                {%if page > 1 %}
                                                    <a href="{{path(app.request.attributes.get('_route'), route_param_search_query|merge({page: page-1}))}}" class="icon item">
                                                        <i class="left chevron icon"></i>
                                                    </a>
                                                {% endif %}
                                                {% for i in 1..total_pages %}
                                                    <a href='{{path(app.request.attributes.get('_route'), route_param_search_query|merge({page: i}))}}' class="{% if i== page %}active{% endif %} item">{{i}}</a>
                                                {% endfor %}
                                                {%if page <= total_pages-1 %}
                                                    <a href="{{path(app.request.attributes.get('_route'), route_param_search_query|merge({page: page+1}))}}" class="icon item">
                                                        <i class="right chevron icon"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </th>
                                    </tr>
                                </tfoot>
                            {% endif %}
                            {%else %}
                                <tfoot><tr><th colspan="6">
                                            <div class='center aligned'>No task created at this moment</div>
                                        </th></tr></tfoot>
                                    {%endif %}

                        </table>
                        {#{{form_widget(form._token)}}
                        </form>#}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block confirmation_modal %}
    <div id="confirm_delete_task" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de la suppression
        </div>
        <div class="content">
            <p>Vous êtes sur le point de supprimer cette tâche.</p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id="execute_delete_task"  class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/ogiveproject/js/task.js')}}"></script>
{% endblock javascripts %}