{% extends "OGIVEProjectBundle::layout.html.twig" %}
{% trans_default_domain 'OGIVEProjectBundle' %}
{% block title %}Les acteurs du projet {% endblock %}

{% block content %}
    <div class="ui basic fixed segment content">
        <div class='ui container'>
            <div class="ui two column stackable grid padded">
                <div class="eleven wide column">
                    <div class="ui top attached tabular menu od_project_menu">
                        {% include('OGIVEProjectBundle:project:single_project_header.html.twig') %}
                    </div>
                    <div class="ui bottom attached segment od_project_menu_content">

                        <h4 class="ui dividing header">Mission de contrôle</h4>
                        <table class="ui celled yellow small table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Téléphone</th>
                                    <th>Email</th>                                   
                                    <th>Actions</th>
                                </tr></thead>
                                {%if projectManagers %}
                                <tbody>

                                    {%for projectManager in projectManagers %}
                                        <tr>
                                            <td>
                                                {{projectManager.nom}}
                                            </td>
                                            <td>
                                                {{projectManager.phone}}                                               
                                            </td>
                                            <td>{{projectManager.email}}</td>
                                            <td>
                                                <a class="ui mini compact icon button" href="update.html"><i class="edit icon" title="Edit"></i></a> |
                                                <a class="ui mini compact icon red button" ><i class="trash icon" title="Delete"></i></a>
                                            </td>
                                        </tr>
                                    {%endfor %}

                                </tbody>
                            {%else %}
                                <tfoot><tr><th colspan="5">
                                            <div class='center aligned'>No project manager created at this moment</div>
                                        </th></tr></tfoot>
                                    {%endif %}
                        </table>
                        <h4 class="ui dividing header">Titulaire</h4>
                        <table class="ui celled yellow small table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Téléphone</th>
                                    <th>Email</th>                                   
                                    <th>Actions</th>
                                </tr></thead>
                                {%if holders %}
                                <tbody>

                                    {%for holder in holders %}
                                        <tr>
                                            <td>
                                                {{holder.nom}}
                                            </td>
                                            <td>
                                                {{holder.phone}}                                               
                                            </td>
                                            <td>{{holder.email}}</td>
                                            <td>
                                                <a class="ui mini compact icon button" href="#"><i class="edit icon" title="Edit"></i></a> |
                                                <a class="ui mini compact icon red button" ><i class="trash icon" title="Delete"></i></a>
                                            </td>
                                        </tr>
                                    {%endfor %}

                                </tbody>
                            {%else %}
                                <tfoot><tr><th colspan="5">
                                            <div class='center aligned'>No holder created at this moment</div>
                                        </th></tr></tfoot>
                                    {%endif %}
                        </table>
                    </div>
                </div>
                <div class="five wide column">
                    {% include('OGIVEProjectBundle::right_aside_page.html.twig') %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}