{% extends "OGIVEProjectBundle::layout.html.twig" %}
{% trans_default_domain 'OGIVEProjectBundle' %}
{% block title %}Project lots{% endblock %}

{% block content %}
    <div class="ui basic fixed segment content">
        <div class='ui container'>
            <div class="ui two column stackable grid padded">
                <div class="eleven wide column">
                    <div class="ui top attached tabular menu od_project_menu">
                        {% include('OGIVEProjectBundle:project:single_project_header.html.twig') %}
                    </div> 
                    <div class="ui bottom attached segment od_project_menu_content">
                        <div class="ui fluid card od_card_top_table_action">
                            <div class="content">
                                <a class="ui right floated yellow small button" href="{{path('lot_add_get', {'id': project.id})}}"><i class="plus icon"></i> Ajouter un lot</a>
                            </div>
                        </div>
                        <table class="ui celled yellow small table">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nom du lot</th>
                                    <th>Start date</th>
                                    <th>End date</th>                                   
                                    <th>Actions</th>
                                </tr></thead>
                                {%if lots %}
                                <tbody>

                                    {%for lot in lots %}
                                        <tr>
                                            <td>
                                                {{lot.numero}}
                                            </td>
                                            <td>
                                                {{lot.nom}}                                               
                                            </td>
                                            <td>{{lot.startDate | date('d-m-Y')}}</td>
                                            <td>{{lot.endDate | date('d-m-Y')}}</td>
                                            <td>
                                                <a class="item" href="{{path('lot_update_get', {'idProject': lot.project.id, 'id': lot.id})}}"><i class="edit icon" title="Edit"></i>Edit</a> |
                                                <a class="item" href="{{path('lot_delete', {'idProject': lot.project.id, 'id': lot.id})}}"><i class="trash icon" title="Delete"></i>Delete</a>
                                            </td>
                                        </tr>
                                    {%endfor %}
                                </tbody>
                                {%if total_pages>1 and total_pages >= page %}
                                    <tfoot>
                                        <tr><th colspan="7">
                                                <div class="ui right floated mini pagination menu">
                                                    {%if page > 1 %}
                                                        <a href="{{path(app.request.attributes.get('_route'), route_param_search_query|merge({page: page-1}))}}" class="icon item">
                                                            <i class="left chevron icon"></i>
                                                        </a>
                                                    {% endif %}
                                                    {% for i in 1..total_pages %}
                                                        <a href='{{path(app.request.attributes.get('_route'), route_param_search_query|merge({page: i}))}}' class="{% if i== page %}active{% endif %} item">{{i}}</a>
                                                    {% endfor %}
                                                    {%if page <= total_pages-1 %}
                                                        <a href="{{path(app.request.attributes.get('_route'), route_param_search_query|merge({page: page+1}))}}" class="icon item">
                                                            <i class="right chevron icon"></i>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </th>
                                        </tr>
                                    </tfoot>
                                {% endif %}

                            {%else %}
                                <tr>
                                <div >No lot created at this moment</div>
                                </tr>
                            {%endif %}
                        </table>
                    </div>
                </div>
                <div class="five wide column">
                    {% include('OGIVEProjectBundle::right_aside_page.html.twig') %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}