{% extends "OGIVEProjectBundle::layout.html.twig" %}
{% trans_default_domain 'OGIVEProjectBundle' %}
{% block title %}Les intervenants au projet {% endblock %}

{% block content %}
    <div class="ui basic fixed segment content">
        <div class='ui container'>
            {% include('OGIVEProjectBundle:project:top-content-project-page.html.twig') %}

            <div class="ui top attached stackable tabular menu od_project_menu">
                {% include('OGIVEProjectBundle:project:single-project-header.html.twig') %}
            </div>
            <div class="ui bottom attached segment od_project_menu_content">
                <div class="ui two column stackable grid padded">
                    <div class="eleven wide column">
                        <h4 class="ui dividing header">Maître d'ouvrage</h4>
                        <table class="ui celled yellow small table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Téléphone</th>
                                    <th>Email</th>                                   
                                </tr></thead>
                                {%if owner %}
                                <tbody>
                                    <tr id="owner{{owner.id}}">
                                        <td>
                                            {{owner.nom}}
                                        </td>
                                        <td>
                                            {{owner.phone}}                                               
                                        </td>
                                        <td>{{owner.email}}</td>
                                    </tr>
                                </tbody>
                            {%else %}
                                <tfoot><tr><th colspan="5">
                                            <div class='center aligned'>No owner created at this moment</div>
                                        </th></tr></tfoot>
                                    {%endif %}
                        </table>

                        <h4 class="ui dividing header">Mission de contrôle</h4>
                        {%if app.user.id == project.createdUser.id %}
                            <div class="ui fluid card od_card_top_table_action">
                                <div class="content">
                                    <a class="ui right floated yellow mini button" href="{{path('project_manager_add_get', {'id': project.id})}}"><i class="plus icon"></i> Ajouter une mission de contrôle</a>
                                </div>
                            </div>
                        {%endif %}
                        <table class="ui celled yellow small table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Téléphone</th>
                                    <th>Email</th>
                                    {%if app.user.id == project.createdUser.id %}
                                    <th>Actions</th>
                                    {%endif %}
                                </tr></thead>
                                {%if projectManagers %}
                                <tbody>

                                    {%for projectManager in projectManagers %}
                                        <tr id="project_manager{{projectManager.id}}">
                                            <td>
                                                {{projectManager.nom}}
                                            </td>
                                            <td>
                                                {{projectManager.phone}}                                               
                                            </td>
                                            <td>{{projectManager.email}}</td>
                                            {%if app.user.id == project.createdUser.id %}
                                            <td style="padding: 0px;">
                                                <div class="ui text menu" style="margin: 0px;">
                                                    <div class="left menu">
                                                    </div>
                                                    <div class="center menu">
                                                        <a class="item" data-tooltip="Modifier" data-position="bottom center" data-inverted="" data-variation="mini" href="{{path('project_manager_update_get', {'idProject': project.id, 'id': projectManager.id})}}"><i class="blue write icon"></i></a>
                                                        <div class="ui dropdown dropdown_actions item">
                                                            <i class="large ellipsis vertical icon"></i>
                                                            <div class="menu">
                                                                <a id="delete_project_manager_btn{{projectManager.id}}" class="item" data-tooltip="Supprimer" data-position="bottom center" data-inverted="" data-variation="mini" onclick="delete_project_manager({{projectManager.project.id}}, {{projectManager.id}});"><i class="red trash icon"></i> Supprimer</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="right menu">
                                                    </div>
                                                </div>
                                            </td>
                                            {%endif %}
                                        </tr>
                                    {%endfor %}

                                </tbody>
                            {%else %}
                                <tfoot><tr><th colspan="5">
                                            <div class='center aligned'>No project manager created at this moment</div>
                                        </th></tr></tfoot>
                                    {%endif %}
                        </table>
                        <h4 class="ui dividing header">Titulaire</h4>
                        {%if app.user.id == project.createdUser.id %}
                            <div class="ui fluid card od_card_top_table_action">
                                <div class="content">
                                    <a class="ui right floated yellow mini button" href="{{path('holder_add_get', {'id': project.id})}}"><i class="plus icon"></i> Ajouter un titulaire</a>
                                </div>
                            </div>
                        {%endif %}
                        <table class="ui celled yellow small table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Téléphone</th>
                                    <th>Email</th>
                                    {%if app.user.id == project.createdUser.id %}
                                    <th>Actions</th>
                                    {%endif %}
                                </tr></thead>
                                {%if holders %}
                                <tbody>

                                    {%for holder in holders %}
                                        <tr id="holder{{holder.id}}">
                                            <td>
                                                {{holder.nom}}
                                            </td>
                                            <td>
                                                {{holder.phone}}                                               
                                            </td>
                                            <td>{{holder.email}}</td>
                                            {%if app.user.id == project.createdUser.id %}
                                            <td style="padding: 0px;">
                                                <div class="ui text menu" style="margin: 0px;">
                                                    <div class="left menu">
                                                    </div>
                                                    <div class="center menu">
                                                        <a class="item" data-tooltip="Modifier" data-position="bottom center" data-inverted="" data-variation="mini" href="{{path('holder_update_get', {'idProject': project.id, 'id': holder.id})}}"><i class="blue write icon"></i></a>
                                                        <div class="ui dropdown dropdown_actions item">
                                                            <i class="large ellipsis vertical icon"></i>
                                                            <div class="menu">
                                                                <a id="delete_holder_btn{{holder.id}}" class="item" onclick="delete_holder({{holder.project.id}}, {{holder.id}});"><i class="red trash icon"></i> Supprimer</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="right menu">
                                                    </div>
                                                </div>
                                            </td>
                                            {%endif %}
                                        </tr>
                                    {%endfor %}

                                </tbody>
                            {%else %}
                                <tfoot><tr><th colspan="5">
                                            <div class='center aligned'>No holder created at this moment</div>
                                        </th></tr></tfoot>
                                    {%endif %}
                        </table>

                        <h4 class="ui dividing header">Sous traitance</h4>
                        {%if app.user.id == project.createdUser.id %}
                            <div class="ui fluid card od_card_top_table_action">
                                <div class="content">
                                    <a class="ui right floated yellow mini button" href="{{path('service_provider_add_get', {'id': project.id})}}"><i class="plus icon"></i> Ajouter un sous traitant</a>
                                </div>
                            </div>
                        {%endif %}
                        <table class="ui celled yellow small table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Téléphone</th>
                                    <th>Email</th>
                                    {%if app.user.id == project.createdUser.id %}
                                    <th>Actions</th>
                                    {%endif %}
                                </tr></thead>
                                {%if serviceProviders %}
                                <tbody>

                                    {%for serviceProvider in serviceProviders %}
                                        <tr id="service_provider{{serviceProvider.id}}">
                                            <td>
                                                {{serviceProvider.nom}}
                                            </td>
                                            <td>
                                                {{serviceProvider.phone}}                                               
                                            </td>
                                            <td>{{serviceProvider.email}}</td>
                                            {%if app.user.id == project.createdUser.id %}
                                            <td style="padding: 0px;">
                                                <div class="ui text menu" style="margin: 0px;">
                                                    <div class="left menu">
                                                    </div>
                                                    <div class="center menu">
                                                        <a class="item" data-tooltip="Modifier" data-position="bottom center" data-inverted="" data-variation="mini" href="{{path('service_provider_update_get', {'idProject': project.id, 'id': serviceProvider.id})}}"><i class="blue write icon"></i></a>
                                                        <div class="ui dropdown dropdown_actions item">
                                                            <i class="large ellipsis vertical icon"></i>
                                                            <div class="menu">
                                                                <a id="delete_service_provider_btn{{serviceProvider.id}}" class="item"  onclick="delete_service_provider({{serviceProvider.project.id}}, {{serviceProvider.id}});"><i class="trash icon"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="right menu">
                                                    </div>
                                                </div>
                                            </td>
                                            {%endif %}
                                        </tr>
                                    {%endfor %}

                                </tbody>
                            {%else %}
                                <tfoot>
                                    <tr>
                                        <th colspan="5">
                                            <div class='center aligned'>Aucun sous traitant créer en ce moment</div>
                                        </th>
                                    </tr>
                                </tfoot>
                            {%endif %}
                        </table>

                        <h4 class="ui dividing header">Autres intervenants</h4>
                        {%if app.user.id == project.createdUser.id %}
                            <div class="ui fluid card od_card_top_table_action">
                                <div class="content">
                                    <a class="ui right floated yellow mini button" href="{{path('other_contributor_add_get', {'id': project.id})}}"><i class="plus icon"></i> Ajouter un intervenant</a>
                                </div>
                            </div>
                        {%endif %}
                        <table class="ui celled yellow small table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Nom du poste</th>
                                    <th>Téléphone</th>
                                    <th>Email</th>
                                    {%if app.user.id == project.createdUser.id %}
                                    <th>Actions</th>
                                    {%endif %}
                                </tr></thead>
                                {%if otherContributors %}
                                <tbody>

                                    {%for otherContributor in otherContributors %}
                                        <tr id="other_contributor{{otherContributor.id}}">
                                            <td>
                                                {{otherContributor.nom}}
                                            </td>
                                            <td>
                                                {{otherContributor.contributorType}}
                                            </td>
                                            <td>
                                                {{otherContributor.phone}}                                               
                                            </td>
                                            <td>{{otherContributor.email}}</td>
                                            {%if app.user.id == project.createdUser.id %}
                                            <td style="padding: 0px;">
                                                <div class="ui text menu" style="margin: 0px;">
                                                    <div class="left menu">
                                                    </div>
                                                    <div class="center menu">
                                                        <a class="item" href="{{path('other_contributor_update_get', {'idProject': project.id, 'id': otherContributor.id})}}"><i class="blue write icon"></i></a>
                                                        <div class="ui dropdown dropdown_actions item">
                                                            <i class="large ellipsis vertical icon"></i>
                                                            <div class="menu">
                                                                <a id="delete_other_contributor_btn{{otherContributor.id}}" class="item" onclick="delete_other_contributor({{otherContributor.project.id}}, {{otherContributor.id}});"><i class="red trash icon"></i> Supprimer</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="right menu">
                                                    </div>
                                                </div>
                                            </td>
                                            {%endif %}
                                        </tr>
                                    {%endfor %}

                                </tbody>
                            {%else %}
                                <tfoot><tr><th colspan="5">
                                            <div class='center aligned'>No other project contributor created at this moment</div>
                                        </th></tr></tfoot>
                                    {%endif %}
                        </table>
                    </div>
                    <div class="five wide column">
                        {% include('OGIVEProjectBundle::right-aside-page.html.twig') %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block confirmation_modal %}
    <div id="confirm_delete_project_manager" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de la suppression
        </div>
        <div class="content">
            <p>Vous êtes sur le point de supprimer ce maître d'oeuvre.</p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id="execute_delete_project_manager"  class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div id="confirm_delete_holder" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de la suppression
        </div>
        <div class="content">
            <p>Vous êtes sur le point de supprimer ce titulaire.</p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id="execute_delete_holder"  class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div id="confirm_delete_service_provider" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de la suppression
        </div>
        <div class="content">
            <p>Vous êtes sur le point de supprimer ce prestataire.</p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id="execute_delete_service_provider"  class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div id="confirm_delete_other_contributor" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de la suppression
        </div>
        <div class="content">
            <p>Vous êtes sur le point de supprimer cet intervenant.</p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id="execute_delete_other_contributor"  class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/ogiveproject/js/contributors.js')}}"></script>
{% endblock javascripts %}