<a href="{{path('project_gen_infos_get', {'id': project.id})}}" class="{% if tab == 1 %}active{% endif %} item">
    Informations générales
</a>
<a href="{{path('project_tasks_get', {'id': project.id})}}" class="{% if tab == 3 %}active{% endif %} item">
    Tâches
</a>
<a href="{{path('project_contributors_get', {'id': project.id})}}" class="{% if tab == 4 %}active{% endif %} item">
    Intervenants
</a>
<a href="{{path('project_decomptes_get', {'id': project.id})}}" class="{% if tab == 5 %}active{% endif %} item">
    Décomptes mensuels
</a>
{% set decomptes = project.decomptes %}
{% if decomptes and decomptes|length > 0  %}
    <a href="{{path('project_decompte_total_get', {'id': project.id})}}" class="{% if tab == 6 %}active{% endif %} item">
        Décompte général et définitif
    </a>
{%endif %}

{% set tasks = project.tasks %}
{% if tasks and tasks|length > 0  %}
    <a href="{{path('project_work_schedule', {'id': project.id})}}" class="{% if tab == 7 %}active{% endif %} item">
        Planning des travaux
    </a>
{%endif %}

{% if tasks and tasks|length > 0  %}
    <a href="{{path('project_financial_schedule', {'id': project.id})}}" class="{% if tab == 8 %}active{% endif %} item">
        Planning financier
    </a>
{%endif %}