{% import _self as forms %}
{% extends "OGIVEProjectBundle::layout.html.twig" %}
{% trans_default_domain 'OGIVEProjectBundle' %}
{% block title %}Add new project{% endblock %}

{% block content %}
    <div class="ui basic fixed segment content">
        <div class='ui container od_add_project_container'>
            <div class="ui column stackable grid padded">
                <div class="wide column">
                    <div id="od_nav_menu" class="ui tiny menu">
                        <div class="left menu">
                            <a class="item" href="../index.html">Home</a>
                            <div class="item" style="padding-left: 0; padding-right: 0;"><i class="small right chevron icon divider"></i></div>
                            <a class="item" href="index.html">Projects</a>
                            <div class="item" style="padding-left: 0; padding-right: 0;"><i class="small right chevron icon divider"></i></div>
                            <div class="item">Add a new project</div>
                        </div>
                    </div>
                    <div class="ui container">
                        <div class="ui fluid card od_add_project_card">
                            <div class="content">
                                <div class="header">
                                    Add a project
                                </div>
                            </div>
                            <div class="content description">
                                {{ form_start(form, {'method': 'PUT', 'action': path('project_update', {'id': project.id}), 'attr': {'class': 'ui mini form', 'id': 'od_add_project_form', "autocomplete":"off"} }) }}
                                <h4 class="ui dividing header">Project Information</h4>

                                <div class="field">
                                    {{ form_label(form.numeroMarche,"N° du marché") }}
                                    {{ form_widget(form.numeroMarche,{'attr':{'placeholder':"Numéro du marché", 'data-validate': 'numero-marche'}})}}
                                </div>

                                <div class="field">
                                    {{ form_label(form.subject,"Objet") }}
                                    {{ form_widget(form.subject,{'attr':{'placeholder':"Objet du marché", 'data-validate': 'objet'}})}}
                                </div>
                                <div class="ui field">
                                    <label>Coût du projet</label>
                                    <div class="ui fields">
                                        <div class="five wide field">
                                            {{ form_widget(form.projectCostCurrency,{'attr':{'data-validate': 'projectCostCurrency', 'class': 'ui search dropdown'}})}}
                                        </div>
                                        <div class="eleven wide field">
                                            {{ form_widget(form.projectCost,{'attr':{'placeholder':"Amount", 'data-validate': 'project-cost-amount'}})}}
                                        </div>
                                    </div>
                                </div>
                                <div class="two fields">                                        
                                    <div class="ui field">
                                        <label>Lot (cas d'un marché alloti)<em>*</em></label>
                                        <div class="field"> 
                                            {{ form_widget(form.numeroLot,{'attr':{'placeholder':"Lot", 'data-validate': 'numero-lot'}})}}
                                        </div>
                                    </div>
                                    <div class="ui field">
                                        <label>Lieu d'exécution</label>
                                        <div class="field"> 
                                            {{ form_widget(form.lieuExecution,{'attr':{'placeholder':"Lieu d'exécution", 'data-validate': 'lieu-execution'}})}}
                                        </div>
                                    </div>
                                </div>
                                <div class="two fields">                                        
                                    <div class="ui field">
                                        <label>Région<em>*</em></label>
                                        {{ form_widget(form.region,{'attr':{'placeholder':"Région", 'data-validate': 'region'}})}}
                                    </div>
                                    <div class="ui field">
                                        <label>Département</label>
                                        {{ form_widget(form.departement,{'attr':{'placeholder':"departement", 'data-validate': 'departement'}})}}
                                    </div>
                                </div>
                                <h4 class="ui dividing header">Maitre d'oeuvre</h4>

                                <div class="ui field">
                                    <table class="ui very basic table">
                                        <thead>
                                            <tr><th>Nom</th>
                                                <th>Téléphone</th>
                                                <th>Email</th>
                                                <th class="right aligned">Action</th>
                                            </tr>
                                        </thead>
                                       
                                        <tbody class="projectManagers" data-prototype="{{ forms.projectManager_prototype(form.projectManagers.vars.prototype)|e }}">
                                            {% for projectManager in form.projectManagers %}
                                                <tr>
                                                    {{ forms.projectManager_prototype(projectManager) }}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        {% macro projectManager_prototype(childForm) %}
                                            <td>{{ form_widget(childForm.nom,{'attr':{'data-validate': 'projectManager_name'}}) }}</td>
                                            <td>{{ form_widget(childForm.phone,{'attr':{'data-validate': 'projectManager_phone'}}) }}</td>
                                            <td>{{ form_widget(childForm.email,{'attr':{'data-validate': 'projectManager_email'}}) }}</td> 
                                        {% endmacro %}
                                        
                                    </table>
                                </div>
                                

                                <h4 class="ui dividing header">Titulaire</h4>

                                <div class="ui field">
                                    <table class="ui very basic table">
                                        <thead>
                                            <tr><th>Nom</th>
                                                <th>Téléphone</th>
                                                <th>Email</th>
                                                <th class="right aligned">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="holders" data-prototype="{{ forms.holder_prototype(form.holders.vars.prototype)|e }}">
                                            {% for holder in form.holders %}
                                                <tr>
                                                    {{ forms.holder_prototype(holder) }}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        {% macro holder_prototype(childForm) %}
                                            <td>{{ form_widget(childForm.nom,{'attr':{'data-validate': 'holder_name'}}) }}</td>
                                            <td>{{ form_widget(childForm.phone,{'attr':{'data-validate': 'holder_phone'}}) }}</td>
                                            <td>{{ form_widget(childForm.email,{'attr':{'data-validate': 'holder_email'}}) }}</td> 
                                        {% endmacro %}
                                    </table>
                                </div>
                                


                                <h4 class="ui dividing header">Lots (Pour les tâches)</h4>
                                <div class="ui field">
                                    <table class="ui very basic table">
                                        <thead>
                                            <tr><th>Numero</th>
                                                <th>Nom</th>
                                                <th>start date</th>
                                                <th>end date</th>
                                                <th class="right aligned">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="lots" data-prototype="{{ forms.lot_prototype(form.lots.vars.prototype)|e }}">
                                            {% for lot in form.lots %}
                                                <tr>
                                                    {{ forms.lot_prototype(lot) }}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        {% macro lot_prototype(childForm) %}
                                            <td>{{ form_widget(childForm.numero,{'attr':{'data-validate': 'lot_name'}}) }}</td>
                                            <td>{{ form_widget(childForm.nom,{'attr':{'data-validate': 'lot_number'}}) }}</td>
                                            <td>{{ form_widget(childForm.startDate,{'attr':{'data-validate': 'lot_startDate'}}) }}</td> 
                                            <td>{{ form_widget(childForm.endDate,{'attr':{'data-validate': 'lot_endDate'}}) }}</td> 
                                        {% endmacro %}
                                    </table>
                                </div>
                                
                                {{form_widget(form._token)}}
                                <div class="field">
                                    <button  class="ui mini yellow button" type="submit">Save</button>
                                    <a  class="ui mini red button"  href="index.html">Cancel</a>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/ogivealert/js/project.js')}}"></script>
    <script>
        function addOwnerForm($collectionOwner, $newLinkTrOwner) {
            // Get the data-prototype explained earlier
            var prototype = $collectionOwner.data('prototype');

            // get the new index
            var index = $collectionOwner.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var $newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionOwner.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a projectManager" link li
            var $newFormTr = $('<tr></tr>').append($newForm);
            $newLinkTrOwner.before($newFormTr);
            $('.ui.projectManager_ent_subscription.search.dropdown').dropdown({
                on: 'click'
            });
            addOwnerFormDeleteLink($newFormTr);
        }

        function addOwnerFormDeleteLink($projectManagerFormTr) {
            var $removeFormA = $('<td class="right aligned"><button class="ui mini red compact icon button" data-tooltip="Supprimer" data-position="bottom center" data-inverted="" data-variation="mini"><i class="trash icon"></i></button></td>');
            $projectManagerFormTr.append($removeFormA);
            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the projectManager form
                $projectManagerFormTr.remove();
            });
        }
        
        function addHolderForm($collectionHolder, $newLinkTrHolder) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var $newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a holder" link li
            var $newFormTr = $('<tr></tr>').append($newForm);
            $newLinkTrHolder.before($newFormTr);
            $('.ui.holder_ent_subscription.search.dropdown').dropdown({
                on: 'click'
            });
            addHolderFormDeleteLink($newFormTr);
        }

        function addHolderFormDeleteLink($holderFormTr) {
            var $removeFormA = $('<td class="right aligned"><button class="ui mini red compact icon button" data-tooltip="Supprimer" data-position="bottom center" data-inverted="" data-variation="mini"><i class="trash icon"></i></button></td>');
            $holderFormTr.append($removeFormA);
            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the holder form
                $holderFormTr.remove();
            });
        }
        
        function addLotForm($collectionLot, $newLinkTrLot) {
            // Get the data-prototype explained earlier
            var prototype = $collectionLot.data('prototype');

            // get the new index
            var index = $collectionLot.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var $newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionLot.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a holder" link li
            var $newFormTr = $('<tr></tr>').append($newForm);
            $newLinkTrLot.before($newFormTr);
            $('.ui.holder_ent_subscription.search.dropdown').dropdown({
                on: 'click'
            });
            addLotFormDeleteLink($newFormTr);
        }

        function addLotFormDeleteLink($holderFormTr) {
            var $removeFormA = $('<td class="right aligned"><button class="ui mini red compact icon button" data-tooltip="Supprimer" data-position="bottom center" data-inverted="" data-variation="mini"><i class="trash icon"></i></button></td>');
            $holderFormTr.append($removeFormA);
            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the holder form
                $holderFormTr.remove();
            });
        }

        var $collectionLot;

        // setup an "add a holder" link
        var $addLotLink = $('<button class="ui mini primary button" ><i class="add user icon"></i> Ajouter un lot</button>');
        var $newLinkTrLot = $('<tr></tr>').append($addLotLink);

        var $collectionHolder;

        // setup an "add a holder" link
        var $addHolderLink = $('<button class="ui mini primary button" ><i class="add user icon"></i> Ajouter le titulaire</button>');
        var $newLinkTrHolder = $('<tr></tr>').append($addHolderLink);

        
        var $collectionOwner;

        // setup an "add a projectManager" link
        var $addOwnerLink = $('<button class="ui mini primary button" ><i class="add user icon"></i> Ajouter le maitre d\'oeuvre</button>');
        var $newLinkTrOwner = $('<tr></tr>').append($addOwnerLink);

        jQuery(document).ready(function () {
            /******** suppression des projectManagers *********/
            // Get the ul that holds the collection of projectManagers
            $collectionOwner = $('tbody.projectManagers');

            // add a delete link to all of the existing projectManager form li elements
            $collectionOwner.find('tr').each(function () {
                addOwnerFormDeleteLink($(this));
            });


            /******** Ajout des projectManagers *********/

            // Get the ul that holds the collection of projectManagers
            $collectionOwner = $('tbody.projectManagers');

            // add the "add a projectManager" anchor and li to the projectManagers ul
            $collectionOwner.append($newLinkTrOwner);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionOwner.data('index', $collectionOwner.find(':input').length);

            $addOwnerLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new projectManager form (see next code block)
                addOwnerForm($collectionOwner, $newLinkTrOwner);
            });
            
            /******** suppression des holders *********/
            // Get the ul that holds the collection of holders
            $collectionHolder = $('tbody.holders');

            // add a delete link to all of the existing holder form li elements
            $collectionHolder.find('tr').each(function () {
                addHolderFormDeleteLink($(this));
            });


            /******** Ajout des holders *********/

            // Get the ul that holds the collection of holders
            $collectionHolder = $('tbody.holders');

            // add the "add a holder" anchor and li to the holders ul
            $collectionHolder.append($newLinkTrHolder);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addHolderLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new holder form (see next code block)
                addHolderForm($collectionHolder, $newLinkTrHolder);
            });
            
            
            /******** suppression des lots *********/
            // Get the ul that holds the collection of lots
            $collectionLot = $('tbody.lots');

            // add a delete link to all of the existing lot form li elements
            $collectionLot.find('tr').each(function () {
                addLotFormDeleteLink($(this));
            });


            /******** Ajout des lots *********/

            // Get the ul that holds the collection of lots
            $collectionLot = $('tbody.lots');

            // add the "add a lot" anchor and li to the lots ul
            $collectionLot.append($newLinkTrLot);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionLot.data('index', $collectionLot.find(':input').length);

            $addLotLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new lot form (see next code block)
                addLotForm($collectionLot, $newLinkTrLot);
            });
        });
    </script>
{% endblock %}