{% extends "OGIVEProjectBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Create personal account{% endblock %}

{% block content %}
    <div class="ui basic segment signup_segment">
        <div class='ui container signup_page_container'>
            <div class="ui centered card page_title">
                <div class="content">
                    <h2>Rejoindre Follow Up Contracts</h2>
                    <span class="description_app">Le meilleur moyen de piloter l'exécution de votre marché, avec une gestion numerique des décomptes</span>
                </div>
            </div>
            <div class="ui centered card page_title">
                <div class="content">
                    <div class="ui fluid tablet stackable steps">
                        <div class="step">
                            <i class="yellow user icon"></i>
                            <div class="content">
                                <div class="title">Step 1:</div>
                                <div class="description">Informations personnelles</div>
                            </div>
                        </div>
                        <div class="disabled step">
                            <i class="dollar icon"></i>
                            <div class="content">
                                <div class="title">Step 2:</div>
                                <div class="description">Choisissez votre forfait</div>
                            </div>
                        </div>
                        <div class="disabled step">
                            <i class="info circle icon"></i>
                            <div class="content">
                                <div class="title">Step 3:</div>
                                <div class="description">Confirmez vos informations</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui centered card">
                <div class="content">
                    <div class="ui two column stackable grid padded">
                        <div class="ten wide column">
                            {% for flash_message in app.session.flashBag.get('error') %}
                                <div  class="ui error message">
                                    <i class="remove circle icon"></i>
                                    <span>{{ flash_message }}</span>
                                    <i class="close icon"></i>
                                </div>
                            {% endfor %}
                            {% for flash_message in app.session.flashBag.get('warning') %}
                                <div  class="ui warning message">
                                    <i class="warning circle icon"></i>
                                    <span>{{ flash_message }}</span>
                                    <i class="close icon"></i>
                                </div>
                            {% endfor %}
                            {{ form_start(form, {'method': 'POST', 'action': path('create_personal_account_post'), 'attr': {'class': 'ui form', 'id': 'register_form'} }) }}

                            <div class="field">
                                <label>Nom de votre entreprise</label>
                                {{ form_widget(form.lastname,{'attr':{'placeholder': "Nom de votre entreprise", 'data-validate': 'lastname'}})}}
                            </div>
                            <div class="field">
                                <label>Nom d'utilisateur</label>
                                {{ form_widget(form.username,{'attr':{'placeholder':"Choisissez votre nom d'utilisateur", 'data-validate': 'username'}})}}
                            </div>
                            <div class="field">
                                <label>Adresse e-mail</label>
                                {{ form_widget(form.email,{'attr':{'placeholder':'you@example.com', 'data-validate': 'email'}})}}
                            </div>
                            <div class="field">
                                <label>Mot de passe</label>
                                {{ form_widget(form.plainPassword.first,{'attr':{'placeholder':'Saisissez votre mot de passe', 'data-validate': 'password'}})}}
                            </div>

                            <div class="field">
                                <label>Confirmez mot de passe</label>
                                {{ form_widget(form.plainPassword.second,{'attr':{'placeholder':'Confirmez votre mot de passe', 'data-validate': 'passwordConfirm'}})}}
                            </div>
                            {#<div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" tabindex="0" data-validate="termsConditions" class="">
                                    <label>I agree to the Terms and Conditions</label>
                                </div>
                            </div>#}
                            <div class="field">
                                {{form_rest(form)}}
                            </div>
                            <div class="field">
                                <span class="" style="font-size: 12px;">En cliquant sur "Créez votre compte",
                                    vous acceptez nos <a href="#">conditions d'utilisation</a>. Nous vous enverrons occasionnellement des e-mails liés au compte.
                                </span>
                            </div>
                            <div class="field">
                                <button id="submit_register_form" class="ui yellow button" type="submit">Créez votre compte</button>
                            </div>

                            {{ form_end(form) }}
                        </div>
                        <div class="six wide column">
                            <div class="ui card">
                                <div class="content">
                                    <h2 class='header'>Vous allez adorer Follow Up Contracts</h2>
                                </div>
                                <div class="content">
                                    <div class="ui list">
                                        <div class="item">
                                            <i class="green checkmark icon"></i>
                                            <div class="content">
                                                Management de vos marchés
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="green checkmark icon"></i>
                                            <div class="content">
                                                Collaboration 
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="green checkmark icon"></i>
                                            <div class="content">
                                                Facturation
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/ogiveuser/js/user.js')}}"></script>
{% endblock %}